<div class="row title_band">
    <div class="page_title">
        <h1>Company Accounts</h1>
    </div>
    <div class="title_help" id="companyaccounts_index"></div>
    <div><%= link_to '+ account', new_companyaccount_path, class: "title_button" %></div>
</div>

<div class="row">

    <div class="col-1-1 column_1">
        <div class="border">

            <%= render :partial => "flash_notice" %>

            <div class="row">
                <table>
                    <thead>
                        <tr>
                            <th class="accounts_name">Name</th>
                            <th class="accounts_provider">Provider</th>
                            <th class="row_button no_buttons_2"></th>
                        </tr>
                    </thead>
                </table>

                <table>
                    <tbody>
                        <% if @companyaccounts %>
                            <% @companyaccounts.each do |account| %>
                                <tr>
                                    <td class="accounts_name"><%= account.name.titleize %></td> 
                                    <td class="accounts_provider"><%= account.provider.titleize %></td>
                                    <td class="row_button no_buttons_2">
                                        <% if companyaccount_in_use(account) %>
                                            <%= link_to "", companyaccount_path(account), method: :delete, class: 'line_delete_icon_show', title: "delete" %>
                                            <%= link_to "", edit_companyaccount_path(account), class: 'line_edit_icon_show', title: "edit" %>
                                        <% end %>
                                    </td>
                                </tr>
                            <% end %>  
                        <% end %>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>
