<div class="row title_band">
    <div class="page_title">
        <h1>Expense Details</h1>
    </div>
</div>

<div class="row">
    <div class="col-1-3 column_1">
        <div class="border">

            <%= render :partial => "flash_notice" %>
<!-- column start-->
            <div class="row">
                <article>
                    <div class="article-set">

                        <!-- show text line -->
                        <label class="label_80">Reference:</label>
                        <span><%= @expense.ref if @expense.ref %></span></br>

                        <!-- show text line -->
                        <label class="label_80">Issue date:</label>
                        <span><%= @expense.date.strftime("%d/%m/%y") %></span></br>

                        <% if @expense.user_id %>
                        <!-- show text line -->
                        <label class="label_80">Employee:</label>
                        <span><%= @expense.user.name.titleize %></span></br>
                        <% end %>
                                
                        <!-- show text line -->
                        <label class="label_80">Project:</label>
                        <span><%= @expense.project.name.titleize %></span></br>

                        <!-- show text line -->
                        <label class="label_80">Supplier:</label>
                        <span><%= @expense.supplier.company_name.titleize %></span></br>

                        <!-- show text line -->
                        <label class="label_80">Expense Cat:</label>
                        <span><%= @expense.hmrcexpcat.category.titleize %></span></br>

                        <% if @expense.receipt %>
                        <!-- show text line -->
                        <label class="label_80">Receipt:</label>
                        <span><%=link_to image_tag(@expense.receipt_url(:thumb), class: 'fancybox' )%></span></br>
                        <% end %>

                        <!-- show text line -->
                        <label class="label_80">Due Date:</label>
                        <span><%= @expense.due_date.strftime("%d/%m/%y") %></span></br>

                        <!-- show text line -->
                        <label class="label_80">Price:</label>
                        <span><%= pounds(@expense.price) %></span></br>

                        <!-- show text line -->
                        <label class="label_80">VAT:</label>
                        <span><%= pounds(@expense.vat) %></span></br>

                        <!-- show text line -->
                        <label class="label_80">Total:</label>
                        <span><%= pounds(@expense.total) %></span></br>

                        <!-- show text line -->
                        <label class="label_80">Status:</label>
                        <span><%= @expense.state %></span></br>

                    </div>
                </article>
            </div>
<!-- column footer start-->
            <div class="row">
                <div class="form_footer">
                    <%= link_to "back", personals_path %>
                </div>
            </div>
        </div>
    </div>

    <div class="col-1-3 column_2">
        <div class="border blank_column"></div>
    </div>
    <div class="col-1-3 column_3">
        <div class="border blank_column"></div>
    </div>
</div>