            <div class="page_info">
                <div class="page_info_item"> 
                    <h3>Project:</h3>  
                </div>  
                <div class="page_info_item"> 
                    <h3>Status:</h3> 
                </div>
                <div class="page_info_item"> 
                    <h3>Rev:</h3> 
                </div>
            </div>
                    
            <div class="option_band_single">
               <div class="index_select">
                  <div class="index_select_label">Project:</div>
                  <div class="index_select_input">
                     <%= select_tag "project", ['test 2','test 1'] %>       
                  </div>
               </div>
               <div class="option_band_button"><%= link_to "+ project", new_project_path %> </div>
            </div>
            
 <div class="table_content_with_options">
    <table>
      <thead>
        <tr>
          <th width="40px" class="mob_cell">Ref</th>
          <th width="150px" class="tab_cell">Title</th>
          <th width="150px" class="mob_cell">Customer</th>
          <th class="lrg_cell">Description</th>
          <th width="70px" class="lrg_cell">Invoicemethod</th>
          <th width="50px" class="lrg_cell">Cust.Ref</th>
          <th width="20px" class="row_button"><%= link_to "", nil, class: 'table_pdf_icon', title: "download pdf" %></th>
          <th width="20px" class="row_button"><%= link_to "", nil, class: 'table_csv_icon', title: "download csv" %></th>
        </tr>
      </thead>
    </table>
    <div class="table_container">
        <table>
          <tbody>

              <tr>
                <td width="40px" class="mob_cell">99999</td>
                <td width="150px" class="tab_cell">Title of the job given</td>
                <td width="150px" class="mob_cell">Name of the customer</td>
                <td class="lrg_cell">some notes describing the work to be done can be a long amount of text</td>
                <td width="70px" class="lrg_cell">time charge</td>
                <td width="50px" class="lrg_cell">999999</td>
                <td width="20px" class="row_button"><%= link_to "", nil, class: 'line_edit_icon', title: "edit project" %></td>
                <td width="20px" class="row_button"><%= link_to "", nil, class: 'line_delete_icon', title: "delete project" %></td>
              </tr>

          </tbody>
        </table>
    </div>
</div>