<div class="row title_band">
    <div class="page_title">
        <h1>Creditnotes</h1>
    </div>
    <div class="title_help" id="creditnotes_index"></div>
</div>


	<div class="row filter_band">
	    <%= form_tag creditnotes_path, method: :get do %>
	        <div>
	            <div>
	                <label class="date">Date From:</label>
	                <%= date_field_tag( 'date_from', value = @date_from, {placeholder: 'dd/mm/yyyy'}) %>
	                <label class="date">Date To:</label>
	                <%= date_field_tag( 'date_to', value = @date_to, {placeholder: 'dd/mm/yyyy'}) %>
	            </div>
	            <%= submit_tag 'Filter'%>
	        </div>
	    <% end %>
	</div>


<div class="row">

    <div class="col-1-1 column_1">
        <div class="border">

            <%= render :partial => "flash_notice" %>

            <div class="row">

                <table>
                    <thead>
                        <tr>
                            <th class="creditnote_ref">Ref</th>
                            <th class="creditnote_date">Date</th>
                            <th class="creditnote_price">Price</br><span>(ex VAT)</span></th>
                            <th class="creditnote_vat_due">Vat</th>
                            <th class="creditnote_total">Total</br><span>(Inc VAT)</span></th>
                            <th class="creditnote_status">Status</th>
                            <th class="creditnote_note">Note</th>
                            <th class="row_button no_buttons_2"></th>
                        </tr>
                    </thead>
                </table>

                <table>
                    <tbody>
                          <% if @creditnotes %>
                            <% @creditnotes.each do |creditnote| %>
                                <tr>
                                    <td class="creditnote_ref"><%= creditnote.ref %></td>
                                    <td class="creditnote_date"><%= creditnote.date.strftime("%d/%m/%y") %></td>
                                    <td class="creditnote_price"><%= pounds(creditnote.price) %></td>
                                    <td class="creditnote_vat_due"><%= pounds(creditnote.vat) %></td>
                                    <td class="creditnote_total"><%= pounds(creditnote.total) %></td>
                                    <td id="<%= creditnote.id %>_status" class="creditnote_status"><%= creditnote.state %></td>
                                    <td class="creditnote_note"><%= creditnote.notes %></td>
                                    <td id="<%= creditnote.id %>_links" class="row_button no_buttons_2">
                                        <% if creditnote.draft? %>
                                            <%= row_email_link(creditnote, 'show') %>
                                            <%= row_delete_link(creditnote, 'show') %>
                                        <% else %> 
                                            <%= row_email_link(creditnote, 'hidden') %>
                                            <%= row_delete_link(creditnote, 'hidden') %>
                                        <% end %>
                                    </td)
                                </tr>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>
   
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-1-1">
        <div class="border">
            <div class="row">
                <table class="index_totals">
                    <tbody>
                        <tr>
                            <td class="creditnote_ref">Total</td>
                            <td class="creditnote_date"></td>
                            <td class="creditnote_price"><%= pounds(@sum_price) %></td>
                            <td class="creditnote_vat_due"><%= pounds(@sum_vat) %></td>
                            <td class="creditnote_total"><%= pounds(@sum_total) %></td>
                            <td class="creditnote_status"></td>
                            <td class="creditnote_note"></td>
                            <td class="row_button no_buttons_2"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>