<%= form_for(@quoteterm) do |f| %>
  <% if @quoteterm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quoteterm.errors.count, "error") %> prohibited this quoteterm from being saved:</h2>

      <ul>
      <% @quoteterm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :terms %><br>
    <%= f.text_area :terms %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
