<div class="page_title">
    <h1>Quote Terms</h1>
    <div class="page_title_button"><%= link_to 'New Terms', new_quoteterm_path %> </div>
</div>

<div class="table_content_with_filter">
    <table>
      <thead>
        <tr>
          <th class="terms_period">Period</th>
          <th class="terms_terms">Terms</th>         
          <th width="20px" class="row_button"></th>
          <th width="20px" class="row_button"></th>
        </tr>
      </thead>
    </table>
    <div class="table_container">
        <table>
          <tbody>
          <% if @quoteterms %>            
            <% @quoteterms.each do |quoteterm| %>
              <tr id ="<%= salary.id %>">
                <td class="terms_period"><%= quoteterm.period %></td> 
                <td class="terms_terms"><%= quoteterm.terms %></td> 
                <% if @quoteterm_used %>
                    <td width="20px" class="row_button"><%= link_to "", edit_salary_path(salary), class: 'line_edit_icon', title: "edit terms" %></td>
                    <td width="20px" class="row_button"><%= link_to "", quoteterm, method: :delete, data: { confirm: 'Are you sure?' }, class: 'line_edit_icon', title: "delete terms" %></td>
                <% else %>
                    <td width="20px" class="row_button"></th>
                    <td width="20px" class="row_button"></th>                
                <% end %>             
              </tr>
            <% end %>  
          <% end %>
          </tbody>
        </table>
    </div>
</div>
