<div class="row">
    <div class="col-1-3 column_1">
        <div class="border">

<!-- error messages - associated with form start--> 
            <%= render :partial => "form_error", :locals => {:item => @hmrcexpcat} %>

<!-- form column start-->
            <div class="row">
                <%= form_for(@hmrcexpcat) do |f| %>
                    <%= f.hidden_field :company_id, :value => current_user.company_id %>
                    <fieldset>

                        <!-- form input[select] -->
                        <div class="form_tooltip" id="hmrcexpcats_group"></div>
                        <label class="label_80">Group:*</label>
                        <span>
                            <%= f.collection_select(:hmrcgroup_id, Mjbook::Hmrcgroup.all, :id, :group, {:prompt => :true})%>
                        </span></br>

                        <!-- form input[text] -->
                        <div class="form_tooltip" id="hmrcexpcats_category"></div>
                        <label class="label_80">Category:*</label>
                        <span>
                            <%= f.text_field :category %>
                        </span></br>
                        
                    </fieldset>
            </div>
<!-- column footer start--> 
            <div class="row">
                <div class="form_footer">
                    <%= f.submit "save"%>
                    <%= link_to "cancel", hmrcexpcats_path %>
                </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-1-3 column_2">
        <div class="border blank_column"></div>
    </div>
    <div class="col-1-3 column_3">
        <div class="border blank_column"></div>
    </div>
</div>
