<h1>Listing inlines</h1>

<table>
  <thead>
    <tr>
      <th>Ingroup</th>
      <th>Cat</th>
      <th>String</th>
      <th>Item</th>
      <th>String</th>
      <th>Quantity</th>
      <th>Decimal</th>
      <th>Unit</th>
      <th>Integer</th>
      <th>Rate</th>
      <th>Decimal</th>
      <th>Price</th>
      <th>Decimal</th>
      <th>Vat</th>
      <th>Integer</th>
      <th>Vat due</th>
      <th>Decimal</th>
      <th>Total</th>
      <th>Decimal</th>
      <th>Note</th>
      <th>Text</th>
      <th>Line order</th>
      <th>Integer</th>
      <th>Linetype</th>
      <th>Integer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inlines.each do |inline| %>
      <tr>
        <td><%= inline.ingroup_id %></td>
        <td><%= inline.cat %></td>
        <td><%= inline.string %></td>
        <td><%= inline.item %></td>
        <td><%= inline.string %></td>
        <td><%= inline.quantity %></td>
        <td><%= inline.decimal %></td>
        <td><%= inline.unit_id %></td>
        <td><%= inline.integer %></td>
        <td><%= inline.rate %></td>
        <td><%= inline.decimal %></td>
        <td><%= inline.price %></td>
        <td><%= inline.decimal %></td>
        <td><%= inline.vat_id %></td>
        <td><%= inline.integer %></td>
        <td><%= inline.vat_due %></td>
        <td><%= inline.decimal %></td>
        <td><%= inline.total %></td>
        <td><%= inline.decimal %></td>
        <td><%= inline.note %></td>
        <td><%= inline.text %></td>
        <td><%= inline.line_order %></td>
        <td><%= inline.integer %></td>
        <td><%= inline.linetype %></td>
        <td><%= inline.integer %></td>
        <td><%= link_to 'Show', inline %></td>
        <td><%= link_to 'Edit', edit_inline_path(inline) %></td>
        <td><%= link_to 'Destroy', inline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inline', new_inline_path %>
