<p id="notice"><%= notice %></p>

<p>
  <strong>Ingroup:</strong>
  <%= @inline.ingroup_id %>
</p>

<p>
  <strong>Cat:</strong>
  <%= @inline.cat %>
</p>

<p>
  <strong>String:</strong>
  <%= @inline.string %>
</p>

<p>
  <strong>Item:</strong>
  <%= @inline.item %>
</p>

<p>
  <strong>String:</strong>
  <%= @inline.string %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @inline.quantity %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @inline.decimal %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @inline.unit_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @inline.integer %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @inline.rate %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @inline.decimal %>
</p>

<p>
  <strong>Price:</strong>
  <%= @inline.price %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @inline.decimal %>
</p>

<p>
  <strong>Vat:</strong>
  <%= @inline.vat_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @inline.integer %>
</p>

<p>
  <strong>Vat due:</strong>
  <%= @inline.vat_due %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @inline.decimal %>
</p>

<p>
  <strong>Total:</strong>
  <%= @inline.total %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @inline.decimal %>
</p>

<p>
  <strong>Note:</strong>
  <%= @inline.note %>
</p>

<p>
  <strong>Text:</strong>
  <%= @inline.text %>
</p>

<p>
  <strong>Line order:</strong>
  <%= @inline.line_order %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @inline.integer %>
</p>

<p>
  <strong>Linetype:</strong>
  <%= @inline.linetype %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @inline.integer %>
</p>

<%= link_to 'Edit', edit_inline_path(@inline) %> |
<%= link_to 'Back', inlines_path %>
