<%= form_for(@qgroup) do |f| %>
  <% if @qgroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qgroup.errors.count, "error") %> prohibited this qgroup from being saved:</h2>

      <ul>
      <% @qgroup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quote_id %><br>
    <%= f.number_field :quote_id %>
  </div>
  <div class="field">
    <%= f.label :ref %><br>
    <%= f.text_field :ref %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :sub_vat %><br>
    <%= f.text_field :sub_vat %>
  </div>
  <div class="field">
    <%= f.label :sub_price %><br>
    <%= f.text_field :sub_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
