<h1>Listing qgroups</h1>

<table>
  <thead>
    <tr>
      <th>Quote</th>
      <th>Ref</th>
      <th>Text</th>
      <th>Sub vat</th>
      <th>Sub price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qgroups.each do |qgroup| %>
      <tr>
        <td><%= qgroup.quote_id %></td>
        <td><%= qgroup.ref %></td>
        <td><%= qgroup.text %></td>
        <td><%= qgroup.sub_vat %></td>
        <td><%= qgroup.sub_price %></td>
        <td><%= link_to 'Show', qgroup %></td>
        <td><%= link_to 'Edit', edit_qgroup_path(qgroup) %></td>
        <td><%= link_to 'Destroy', qgroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qgroup', new_qgroup_path %>
