<p id="notice"><%= notice %></p>

<p>
  <strong>Quote:</strong>
  <%= @qgroup.quote_id %>
</p>

<p>
  <strong>Ref:</strong>
  <%= @qgroup.ref %>
</p>

<p>
  <strong>Text:</strong>
  <%= @qgroup.text %>
</p>

<p>
  <strong>Sub vat:</strong>
  <%= @qgroup.sub_vat %>
</p>

<p>
  <strong>Sub price:</strong>
  <%= @qgroup.sub_price %>
</p>

<%= link_to 'Edit', edit_qgroup_path(@qgroup) %> |
<%= link_to 'Back', qgroups_path %>
