<h1>Listing expenditures</h1>

<table>
  <thead>
    <tr>
      <th>Due Date</th>
      <th>Supplier/Employee</th>
      <th>Invoices/Items</th>
      <th>Total Amount</th>            
      <th width="20px" class="row_button"><%= link_to "", nil, class: 'table_pdf_icon', title: "download pdf" %></th>
      <th width="20px" class="row_button"><%= link_to "", nil, class: 'table_csv_icon', title: "download csv" %></th>    
    </tr>
  </thead>

  <tbody>
    <% @creditors.each do |creditor| %>
      <tr>
        <td><%= expenditure.due_date %></td>
        <td><%= expenditure.name %></td>
        <td><%= expenditure.no_items %></td>
        <td><%= expenditure.total %></td>
        <td width="20px" class="row_button"></td>
        <td width="20px" class="row_button"><%= link_to "", new_expenditure_path, class: 'line_accept_icon', title: "create payment record" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
