<table class='line_data_table'>
    <tr class='line_data'>
        <td class='invoice_line_prefix'>-</td>
        <td class='invoice_line_category'><%= inline_category(line) %></td>
        <td class='invoice_line_cat_item'><%= inline_cat_item(line) %></td>
        <td class='invoice_line_item'><%= inline_item(line) %></td>
        <td class='invoice_line_quantity'><%= inline_quantity(line) %></td>
        <td class='invoice_line_unit'><%= inline_unit(line) %>
        <td class='invoice_line_rate'><%= inline_rate(line) %></td>
        <td class='invoice_line_price'><%= auto_inline_price(line) %></td> 
        <td class='invoice_line_vat_rate'><%= inline_vat_rate(line) %></td>
        <td class='invoice_line_vat'><%= auto_inline_vat(line) %></td>
        <td class='invoice_line_total'><%= auto_inline_total(line) %></td>
    </tr>
</table>