<table class='line_data_table'>
    <tr class='line_data'>
        <td class='line_prefix tab_cell'>-</td>
        <td class='line_category lrg_cell'><%= line_category(line) %></td>
        <td class='line_item mob_cell'><%= line_item(line) %></td>
        <td class='line_quantity mob_cell'><%= line_quantity(line) %></td>
        <td class='line_unit lrg_cell'><%= line_unit(line) %>
        <td class='line_rate lrg_cell'><%= line_rate(line) %></td> 
        <td class='line_vat_rate tab_cell'><%= line_vat_rate(line) %></td> 
        <td class='line_vat lrg_cell'><%= line_vat(line) %></td>  
        <td class='line_price mob_cell'><%= line_price(line) %></td>          
    </tr>
</table>