<nav class="user_menu"><%= current_user.first_name %></nav>
<nav>
    <ul class='right_menu'>
        <li><%= link_to 'Edit My Details', nil %></li>                                                      
        <li><%= link_to "Personal Expenses", personals_path %> </li>
        <li><%= link_to 'Add/Delete Employees', nil %></li>
        <li><%= link_to 'Edit Company Details', nil %></li>
        <li><%= link_to 'Manage Accounts', nil %></li>            
        <li><%= link_to "logout", nil %></li>

    </ul>        
</nav>

