<div class="row title_band">
    <div class="page_title">
        <h1>Quote Build Up</h1>
    </div>
    <div><%= link_to "List of Quotes", quotes_path, class: "title_button" %></div>
</div>


<div class="row info_band">
    <div class="info_right">
        <%= link_to "edit details", edit_quote_path(@quote), class: "title_button"  %>        
    </div>

    <div class="info_left">
        <div><h3>Quote Ref: <%=h @quote.ref %></h3></div>
        <div><h3>Job Ref: <%=h @quote.project.ref %></h3></div>
    </div>
</div> 


<div class="row">

    <div class="col-1-1 column_1">
        <div class="border">
                                
            <%= render :partial => "flash_notice" %>                 
                
            <div class="row">
                
                <table class="table_header_with_info">
                <tr class='line_row'>
                    <td class='quote_line_prefix'></td>
                    <td class='quote_line_prefix'></td>
                    <td class='quote_line_category'>Category</td>
                    <td class='quote_line_cat_item'>Item</td>
                    <td class='quote_line_item'>Item</td>
                    <td class='quote_line_quantity'>Quantity</td>
                    <td class='quote_line_unit'>Unit</td>
                    <td class='quote_line_rate'>Price/Unit</td> 
                    <td class='quote_line_price'>Price</td>
                    <td class='quote_line_vat_rate'>VAT (%)</td> 
                    <td class='quote_line_vat'>VAT</td>  
                    <td class='quote_line_total'>Total</td>
                    <td class='line_menu'></td> 
                 </tr>
                </table>
                <% @qgroups.each do |group| %>    
                    <%= render :partial => 'group_row', locals: { group: group } %>  
                    <% group.qlines.each do |line| %>
                        <%= render :partial => 'line_row', locals: { line: line } %>    
                    <% end %>        
                    <%= render :partial => 'group_total', locals: { group: group } %>
                <% end %>
                <%= render :partial => 'quote_total', locals: { qgroups: @qgroups } %>
            </div>
        </div>
    </div>

</div>