<div class="page_title">
    <h1>Quote Build Up</h1>
    <div class="page_title_button"><%= link_to "List of Quotes", quotes_path %> </div>    
</div>

<div class="info_band_single">
    <div class="project_info">
        <div class="project_info_label">Quote Ref:</div>
        <div class="project_info_text"><%=h @quote.ref %></div>
        
        <div class="project_info_label">Job Ref:</div>
        <div class="project_info_text"><%=h @quote.project.ref %></div>
        
    </div>
    <div class="option_band_button"><%= link_to "edit details", edit_quote_path(@quote) %> </div>
</div> 


<div class="table_content_with_info">
    <table class="table_header_with_info">
    <tr class='line_row'>
        <td class='quote_line_prefix'></td>
        <td class='quote_line_prefix'></td>
        <td class='quote_line_category'>Category</td>
        <td class='quote_line_cat_item'>Item</td>
        <td class='quote_line_item'>Item</td>
        <td class='quote_line_quantity'>Quantity</td>
        <td class='quote_line_unit'>Unit</td>
        <td class='quote_line_rate'>Price/Unit</td> 
        <td class='quote_line_price'>Price</td>
        <td class='quote_line_vat_rate'>VAT (%)</td> 
        <td class='quote_line_vat'>VAT</td>  
        <td class='quote_line_total'>Total</td>
        <td class='line_menu'></td> 
     </tr>
    </table>
    <% @qgroups.each do |group| %>    
        <%= render :partial => 'group_row', locals: { group: group } %>  
        <% group.qlines.each do |line| %>
            <%= render :partial => 'line_row', locals: { line: line } %>    
        <% end %>        
        <%= render :partial => 'group_total', locals: { group: group } %>
    <% end %>
    <%= render :partial => 'quote_total', locals: { qgroups: @qgroups } %>
</div>