<div class="row title_band">
    <div class="page_title">
        <h1>Products</h1>
    </div>
    <div class="title_help" id="product_index"></div>
    <div><%= link_to "add product", new_product_path, class: "title_button" %></div>
</div>

<div class="row">

    <div class="col-1-1 column_1">
        <div class="border">                
               
            <%= render :partial => "flash_notice" %>

            <div class="row">

                <table>
                    <thead>
                        <tr>
                            <th class="product_catetory_name">Category</th>
                            <th class="product_item">Item</th>
                            <th class="product_quantity">Quantity</th>
                            <th class="product_unit">Unit</th>
                            <th class="product_rate">Rate/Unit</br><span>(ex VAT)</span></th>
                            <th class="product_price">Price</br><span>(ex VAT)</span></th>
                            <th class="product_vat">Vat Rate</th>
                            <th class="product_vat_due">Vat</th>
                            <th class="product_total">Total</br><span>(inc VAT)</span></th> 
                            <th class="row_button no_buttons_3">
                                <% if @products %> 
                                    <%= link_to "", print_product_path(current_user.company_id), class: 'table_pdf_icon', title: "download pdf" %>
                                <% end %> 
                            </th>
                        </tr>
                    </thead>
                </table>

                <table>
                    <tbody>
                        <% if @products %>           
                            <% @products.each do |product| %>
                                <tr>
                                    <td class="product_catetory_name"><%= product.productcategory.text.titleize %></td>
                                    <td class="product_item"><%= product.item.titleize %></td>
                                    <td class="product_quantity"><%= product.quantity %></td>
                                    <td class="product_unit"><%= product.unit.text %></td>
                                    <td class="product_rate"><%= pounds(product.rate) %></td>
                                    <td class="product_price"><%= pounds(product.price) %></td>                
                                    <td class="product_vat"><%= product.vat.cat %></td>
                                    <td class="product_vat_due"><%= pounds(product.vat_due) %></td>
                                    <td class="product_total"><%= pounds(product.total) %></td> 
                                    <td class="row_button no_buttons_3">
                                        <%= row_delete_link(product, 'show') %>
                                        <%= row_edit_link(product, 'show') %>
                                        <%= row_show_link(product, 'show') %>                                         
                                    </td>
                                </tr>
                            <% end %>  
                        <% end %>
                    </tbody>
                </table>
   
            </div>
        </div>
    </div>

</div>
