<div class="page_title">
    <h1>Payable Mileage Rates</h1>  
</div>

<div class="content">
    <div class="column_1">
        <div class="column_content">
                
            <div class="column_sub_content">
                <div class="column_table">
                <table>
                <thead>
                    <tr>
                        <th class="column_line_form_label" style="width:60px">Mode</th>                        
                        <th class="column_line_form_label" style="width:95px">HMRC Rate (£)</th> 
                        <th class="column_line_form_label" style="width:95px">Rate Used (£)</th>
                        <th class="column_line_form_label" style="width:20px"></th> 
                    </tr>
                </thead>
                <% @mileagemodes.each do |mode| %>

                <tbody>
                    <tr>
                    <%= form_for(mode) do |f| %>
                        <td class="column_line_form"><%= mode.mode %>:</td>
                        <td class="column_line_form"><%= pounds(mode.hmrc_rate) %></td>
                        <td class="column_line_form"><%= f.text_field :rate, :class => "currency" %></td>
                        <td class="column_line_form"><%= f.submit ""%></td>
                    <% end %>
                    </tr>
                <% end %>
                </tbody>
                </table>
                </div>
            </div>            
        </div>
    </div>
    <div class="column_2 column_2_blank"></div> 
    <div class="column_3 column_3_blank"></div> 
</div>   
