<div class="page_title">
    <h1>Payable Mileage Rates</h1>  
</div>

<div class="content">
    <div class="column_1">
        <div class="column_content">
                
            <div class="column_sub_content">
                <div class="column_table">
                <table>
                <% @mileagemodes.each do |mode| %>
                    <tr>
                    <%= form_for(mode) do |f| %>
                        <td><%= mode.mode %></td>
                        <td><%= pounds(mode.hmrc_rate) %></td>
                        <td>£<%= f.text_field :rate, :class => "currency" %></td>
                        <td><%= f.submit "save"%></td>
                    <% end %>
                    </tr>
                <% end %>
                </table>
                </div>
            </div>            
        </div>
    </div>
    <div class="column_2 column_2_blank"></div> 
    <div class="column_3 column_3_blank"></div> 
</div>   
