<div class="row title_band">
    <div class="page_title">
        <h1>Payable Mileage Rates</h1>
    </div>
    <div class="title_help" id="mileagemode_edit"></div>
</div> 


<div class="row">
    <div class="col-1-3 column_1">
        <div class="border">
            
            <%= render :partial => "flash_notice" %>
<!-- error messages - associated with form start--> 

<!-- form column start-->
                <div class="row">
                    <div class="column_inline_form">
                        <div class="header_80">Mode</div>
                        <div class="header_80">HMRC (£/ml)</div>
                        <div class="header_90">Company  (£/ml)</div>
                    </div>
                </div>

                <div class="row">
                    <% @mileagemodes.each do |mode| %>
                    <div class="column_inline_form">
                        <%= form_for(mode) do |f| %>
                            <fieldset>
                                <!-- form input[password] -->
                                <%= f.submit ""%>
                                <div class="label_100"><%= mode.mode %>:</div>
                                <div class="label_100"><%= pounds(mode.hmrc_rate) %></div>
                                <span>
                                   <%= f.text_field :rate, {:placeholder => "0.00", :value => number_with_precision(f.object.rate, :precision => 2)} %>
                                </span></br>
                            </fieldset>
                        <% end %>
                    </div>
                    <% end %>
                </div>
        </div>
    </div>

    <div class="col-1-3 column_2">
        <div class="border blank_column"></div>
    </div>
    <div class="col-1-3 column_3">
        <div class="border blank_column"></div>
    </div>
</div>