<table class='line_data_table'>
    <tr class='line_data'>
        <td class='line_prefix'>-</td>
        <td class='line_category'><%= line_category(line) %></td>
        <td class='line_item'><%= line_item(line) %></td>
        <td class='line_quantity'><%= line_quantity(line) %></td>
        <td class='line_rate'><%= line_rate(line) %></td> 
        <td class='line_unit'><%= line_unit(line) %>
        <td class='line_vat_rate'><%= line_vat_rate(line) %></td> 
        <td class='line_vat'><%= line_vat(line) %></td>  
        <td class='line_price'><%= line_price(line) %></td>        
    </tr>    
    <tr class='line_note'>
        <td colspan='9' class='line_note'><%= line_note(line) %></td>            
    </tr>
</table>