<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @quote.project_id %>
</p>

<p>
  <strong>Ref:</strong>
  <%= @quote.ref %>
</p>

<p>
  <strong>Date:</strong>
  <%= @quote.date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @quote.status %>
</p>

<p>
  <strong>Total vat:</strong>
  <%= @quote.total_vat %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @quote.total_price %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
