<div class="row">
    <div class="col-1-1">
        <div class="border">

            <%= render :partial => "form_error", :locals => {:item => @customer} %>

            <%= form_for(@customer) do |f| %>
                <%= f.hidden_field :company_id, :value => current_user.company_id %>
    
            <div class="row">
                <div class="sub-1-3 column_1">
                    <fieldset>

                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="customer_company"></div>
                        <label class="label_80">Company:*</label>
                        <span>
                            <%= f.text_field :company_name %>
                        </span></br>
                        
                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="customer_title"></div>
                        <label class="label_80">Title:</label>
                        <span>
                            <%= f.text_field :title %>
                        </span></br>
                        
                        <!-- form input[text] --> 
                        <label class="label_80">First Name:</label>
                        <span>
                            <%= f.text_field :first_name %>
                        </span></br>
                        
                        <!-- form input[text] --> 
                        <label class="label_80">Surname:</label>
                        <span>
                            <%= f.text_field :surname %>
                        </span></br>
                        
                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="customer_position"></div>
                        <label class="label_80">Position:</label>
                        <span>
                            <%= f.text_field :position %>
                        </span></br>
    
                        <!-- form input[email] --> 
                        <div class="form_tooltip" id="customer_email"></div>
                        <label class="label_80">E-mail:</label>
                        <span>
                            <%= f.email_field :email, {placeholder: 'e.g. demo@example.com'} %>
                        </span></br>
    
                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="customer_phone"></div>
                        <label class="label_80">Tel:</label>
                        <span>
                            <%= f.text_field :phone %>
                        </span></br>
    
                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="customer_alt_phone"></div>
                        <label class="label_80">Alt. Tel:</label>
                        <span>
                            <%= f.text_field :alt_phone %>
                        </span></br>

                    </fieldset>
                </div>
                <div class="sub-1-3 column_2">
                    <fieldset>

                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="customer_address_1"></div>
                        <label class="label_80">Address 1:</label>
                        <span>
                            <%= f.text_field :address_1 %>
                        </span></br>
                        
                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="customer_address_2"></div>
                        <label class="label_80">Address 2:</label>
                        <span>
                            <%= f.text_field :address_2 %>
                        </span></br>
    
                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="customer_city"></div>
                        <label class="label_80">City:</label>
                        <span>
                            <%= f.text_field :city %>
                        </span></br>
                        
                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="customer_county"></div>
                        <label class="label_80">County:</label>
                        <span>
                            <%= f.text_field :county %>
                        </span></br>
                        
                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="customer_country"></div>
                        <label class="label_80">Country:</label>
                        <span>
                            <%= f.text_field :country %>
                        </span></br>
                        
                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="customer_postcode"></div>
                        <label class="label_80">Postcode:</label>
                        <span>
                            <%= f.text_field :postcode %>
                        </span></br>

                    </fieldset>                                        
                </div>
                <div class="sub-1-3 column_3">
                    <fieldset>

                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="customer_notes"></div>
                        <label class="label_80">Notes:</label>
                        <span>
                            <%= f.text_area :notes, {rows: 10, maxlength: 500, class: "maxlength"} %>
                            <p class="input_note">Maximum of 500 characters</p>
                        </span></br>

                    </fieldset>
                </div>
            </div>
            
            <div class="row">
                <div class="form_footer">
                    <%= f.submit "save" %>
                    <%= link_to "cancel", customers_path %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>