<div class="row title_band">
    <div class="page_title">
        <h1>Salary Payments</h1>
    </div>
    <div class="title_help" id="salary_index"></div>       
    <div><%= link_to '+ payment', new_salary_path, class: "title_button" %></div>
</div>

<div class="row filter_band">
    <%= form_tag salaries_path, method: :get do %>  
        <div>
            <div>
                <label class="select">Employee:</label>
                <%= select_tag 'user_id', options_from_collection_for_select(@users, :id, :name, @user), :prompt => 'all employees'%>
            </div>
            <div>
                <label class="date">Date From:</label>
                <%= date_field_tag( 'date_from', value = @date_from, {placeholder: 'dd/mm/yyyy'}) %>    
                <label class="date">Date To:</label>
                <%= date_field_tag( 'date_to', value = @date_to, {placeholder: 'dd/mm/yyyy'}) %>
            </div>                                    
            <%= submit_tag 'Filter'"%>     
        </div>        
        <div class="float_right">   
            <div><%= submit_tag 'pdf', :class => "options_pdf_icon"%></div>
        </div>  
    <% end %> 
</div>

<div class="row">

    <div class="col-1-1 column_1">
        <div class="border">                

            <%= render :partial => "flash_notice" %>
            
            <div class="row">

                <table>
                    <thead>
                        <tr>
                            <th class="salary_employee">Employee</th>
                            <th class="salary_paid">Paid</th>
                            <th class="salary_date">Date</th>          
                            <th class="salary_status">Status</th>
                            <th class="row_button no_buttons_4"></th>
                        </tr>
                    </thead>
                </table>

                <table>
                    <tbody>
                        <% if @salaries %>            
                            <% @salaries.each do |salary| %>
                                <tr>
                                    <td class="salary_employee"><%= salary.user.name.titleize %></td> 
                                    <td class="salary_paid"><%= pounds(salary.total) %></td> 
                                    <td class="salary_date"><%= salary.date.strftime("%d/%m/%y") %></td>
                                    <td  id="<%= salary.id %>_status" class="salary_status"><%= salary.state %></td>
                                    <td id="<%= salary.id %>_links"class="row_button no_buttons_4">
                                        <% if salary.submitted? || salary.rejected? %>
                                            <%= link_to '', salary_path(salary), method: :delete, class: 'line_delete_icon_show' , title: "delete" %>
                                            <%= link_to "", edit_salary_path(salary), class: 'line_edit_icon_show', title: "edit" %>
                                            <%= row_accept_link(salary, 'show') %>
                                        <% else %>
                                            <%= link_to '', salary_path(salary), method: :delete, class: 'line_delete_icon_hidden' , title: "delete" %>
                                            <%= link_to "", edit_salary_path(salary), class: 'line_edit_icon_hidden', title: "edit" %>
                                            <%= row_accept_link(salary, 'hidden') %>
                                        <% end %>
                         
                                        <% if salary.submitted? || salary.accepted? %>
                                            <%= row_reject_link(salary, 'show') %>
                                        <% else %>
                                            <%= row_reject_link(salary, 'hidden') %>
                                        <% end %>
                                    
                                        <% if salary.accepted? %>
                                            <%= link_to '', pay_salary_expend_path(salary.id), class: 'line_payment_icon_show' , title: "record payment"  %>
                                        <% else %>
                                            <%= link_to '', pay_salary_expend_path(salary.id), class: 'line_payment_icon_hidden' , title: "record payment"  %>
                                        <% end %>
                                    </td>
                                </tr>
                            <% end %>  
                        <% end %>
                    </tbody>
                </table>
   
            </div>
        </div>
    </div>

</div>


