<%= render :partial => "process_header", :locals => {:invoice => @invoice} %>

<div class="row">
    <div class="col-1-1">
        <div class="border">

            <%= render :partial => "form_error", :locals => {:item => @payment} %>

                <%= form_for @writeoff do |f|%>
                    <%= f.hidden_field :company_id, :value => current_user.company_id %>
                    <%= f.hidden_field :price, :value => @invoice_price %>
                    <%= f.hidden_field :vat, :value => @invoice_vat_due %>
                    <%= f.hidden_field :total, :value => @invoice_total %>
                    
                    <%= hidden_field_tag :invoice_id, @invoice.id %>
                    <%= hidden_field_tag :inline_ids, @inline_ids %>

            <div class="row">
                <div class="sub-1-3 column_1">
                    <fieldset>

                        <div class="row">
                            <div class="column_title">
                                <h3>Process Method<span class="form_tooltip"></span></h3>
                            </div>
                        </div>

                        <!-- form input[radio] -->
                        <label class="label_60">Create:</label>
                        <span>
                            <%= radio_button("method", "invoiceprocess_id", 1) %>
                            <span>Payment Record</span>
                        </span></br>
                        
                        <!-- form input[radio] -->
                        <label class="label_60"></label>
                        <span>
                            <%= radio_button("method", "invoiceprocess_id", 2) %>
                            <span>Credit Note</span>
                        </span></br>

                        <!-- form input[radio] -->
                        <label class="label_60"></label>
                        <span>
                            <%= radio_button("method", "invoiceprocess_id", 3, :checked => true) %>
                            <span>Write Off</span>
                        </span></br>

                    </fieldset>
                </div>
                
                <div class="sub-1-3 column_2">
                    <fieldset>
                        <div class="row">
                            <div class="column_title">
                                <h3>Items to be Written Off<span class="form_tooltip"></span></h3>
                            </div>
                        </div>

                        <!-- form input[text] --> 
                        <% @ingroups.each do |group| %>
                            
                            <%= group_info(group) %>
                                                     
                            
                            <% group.inlines.due.each do |line| %>
                                <div class="line_info">
                                    <div class="right">
                                        <span><%= check_box_tag 'line_ids[]', line.id, :checked => true %></span>
                                        <span><p><%= pounds(line.total) if line.total? %></p></span>
                                    </div>
                                    <div class="left">
                                        <%= line.item %>
                                    </div>
                                </div>   
                            <% end %>
                        <% end %>

                        <div class="row">
                            <div class="column_line_double"></div>
                        </div>

                        <!-- show text line --> 
                                <div class="line_info">
                                    <div class="total_right">
                                        <span><p><%= pounds(@invoice_total) %></p></span>
                                    </div>
                                    <div class="total_left">
                                        Total Recieved:
                                    </div>
                                </div>
                    </fieldset>                                        
                </div>
                <div class="sub-1-3 column_3">
                    <fieldset>


                        <div class="row">
                            <div class="column_title">
                                <h3>Writing Off Record<span class="form_tooltip"></span></h3>
                            </div>
                        </div>

                        <!-- show text line -->
                        <label class="label_110">Project Ref:</label>
                        <span><%= @invoice.project.ref if @invoice.project.ref %></span></br>

                        <!-- show text line -->
                        <label class="label_110">Project Title:</label>
                        <span><%= @invoice.project.title if @invoice.project.title %></span></br>
    
                        <!-- show text line -->
                        <label class="label_110">Customer:</label>
                        <span><%= @invoice.project.customer.company_name %></span></br>


                        <!-- show text line -->
                        <label class="label_110">Price:</label>
                        <span class="payment_scope_price"><%= pounds(@invoice_price) %></span></br>
                                
                        <!-- show text line -->
                        <label class="label_110">VAT:</label>
                        <span class="payment_scope_vat_due"><%= pounds(@invoice_vat_due) %></span></br>
    
                        <!-- show text line -->
                        <label class="label_110">Total:</label>
                        <span class="payment_scope_total"><%= pounds(@invoice_total) %></span></br>

                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="payment_date"></div>
                        <label class="label_110">Ref:</label>
                        <span>
                            <%= f.text_field :ref %>
                        </span></br>

                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="payment_date"></div>
                        <label class="label_110">Date:*</label>
                        <span>
                            <%= f.date_field :date %>
                        </span></br>


                        <!-- form input[text] --> 
                        <label class="label_110">Notes:</label>
                        <span>
                            <%= f.text_area :notes, {rows: 5, maxlength: 500, class: "maxlength"} %>
                            <p class="input_note">Maximum of 500 characters</p>
                        </span></br>


                    </fieldset>
                </div>
            </div>
            
            <div class="row">
                <div class="form_footer">
                    <%= f.submit "save" %>
                    <%= link_to "cancel", invoices_path %>
                </div>
                <% end %>
            </div>
            
        </div>
    </div>
</div>