<%= form_for(@expenseexpend) do |f| %>
  <% if @expenseexpend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expenseexpend.errors.count, "error") %> prohibited this expenseexpend from being saved:</h2>

      <ul>
      <% @expenseexpend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :expense_id %><br>
    <%= f.text_field :expense_id %>
  </div>
  <div class="field">
    <%= f.label :expenditure_id %><br>
    <%= f.text_field :expenditure_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
