<div class="page_title">
    <h1>Suppliers</h1>
    <div class="page_title_button"><%= link_to "add new supplier", new_supplier_path %> </div>
</div>

 <div class="table_content_with_title">
    <table>
      <thead>
        <tr>
            <th class="supplier_company">Company</th>
            <th class="supplier_vat">VAT No.</th>
            <th class="supplier_name">Name</th>
            <th class="supplier_position">Position</th>
            <th class="supplier_address">Address</th>
            <th class="supplier_phone">Phone</th>
            <th class="supplier_alt_phone">Alt. Phone</th>
            <th class="supplier_email">Email</th>
            <th class="supplier_note">Notes</th>
            <th width="20px" class="row_button"></th>
            <th width="20px" class="row_button"><%= link_to "", nil, class: 'table_pdf_icon', title: "download pdf" %></th>
        </tr>
      </thead>
    </table>
    <div class="table_container">
        <table>
          <tbody>
            <% @suppliers.each do |supplier| %>
              <tr>
                <td class="supplier_company"><%= supplier.company_name %></td>
                <td class="supplier_vat"><%= supplier.vat_no %></td>
                <td class="supplier_name"><%= supplier.name %></td>
                <td class="supplier_position"><%= supplier.position %></td>
                <td class="supplier_address">
        			<p><%= supplier.address_1 %></p>
        			<p><%= supplier.address_2 %></p>
        			<p><%= supplier.city %></p>
        			<p><%= supplier.county %></p>
        			<p><%= supplier.country %></p>
        			<p><%= supplier.postcode %></p>
                </td>
                <td class="supplier_phone"><%= supplier.phone %></td>
                <td class="supplier_alt_phone"><%= supplier.alt_phone %></td>
                <td class="supplier_email"><%= supplier.email %></td>
                <td class="supplier_note"><%= supplier.notes %></td>
                <td width="20px" class="row_button"><%= link_to "", edit_supplier_path(supplier), class: 'line_edit_icon', title: "edit supplier" %></td>
                <% if supplier_in_use(supplier) %>
                    <td width="20px" class="row_button"><%= link_to "", supplier, method: :delete, class: 'line_delete_icon', title: "delete supplier" %></td>
                <% else %>
                    <td width="20px" class="row_button"></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>

