<div class="page_title">
    <h1>Suppliers Details</h1>
</div>

<div class="content">
    <div class="column_linked_container">

        <div class="sub_column_linked_1">
            <div class="column_content">
                <div class="column_info">
                            <div class="column_info_item">
                                <label class="column_info_label" style="width:80px">Company:</label>
                                <div class="column_info_text"><%= @supplier.company_name %></div>
                            </div>
                            <div class="column_info_item">
                                <label class="column_info_label" style="width:80px">VAT No:</label>
                                <div class="column_info_text"><%= @supplier.vat_no %></div>
                            </div>
                            <div class="column_info_item">
                                <label class="column_info_label" style="width:80px">Name:</label>
                                <div class="column_info_text"><%= @supplier.name %></div>
                            </div>
                            <div class="column_info_item">
                                <label class="column_info_label" style="width:80px">Position:</label>
                                <div class="column_info_text"><%= @supplier.position %></div>
                            </div>
                            <div class="column_info_item">
                                <label class="column_info_label" style="width:80px">E-mail:</label>
                                <div class="column_info_text"><%= @supplier.email %></div> 
                            </div>
                            <div class="column_info_item">
                                <label class="column_info_label" style="width:80px">Tel:</label>
                                <div class="column_info_text"><%= @supplier.phone %></div> 
                            </div>
                            <div class="column_info_item">
                                <label class="column_info_label" style="width:80px">Alt. Tel::</label>
                                <div class="column_info_text"><%= @supplier.alt_phone %></div> 
                            </div>
                </div>
            </div>
        </div>
        <div class="sub_column_linked_2">
            <div class="column_content">
                <div class="column_info">    
                            <div class="column_info_item">
                                <label class="column_info_label" style="width:80px">Address 1:</label>
                                <div class="column_info_text"><%= @supplier.address_1 %></div>
                            </div>
                            <div class="column_info_item">
                                <label class="column_info_label" style="width:80px">Address 2:</label>
                                <div class="column_info_text"><%= @supplier.address_2 %></div>
                            </div>
                            <div class="column_info_item">
                                <label class="column_info_label" style="width:80px">City:</label>
                                <div class="column_info_text"><%= @supplier.city %></div>
                            </div>
                            <div class="column_info_item">
                                <label class="column_info_label" style="width:80px">County:</label>
                                <div class="column_info_text"><%= @supplier.county %></div>
                            </div>
                            <div class="column_info_item">
                                <label class="column_info_label" style="width:80px">Country:</label>
                                <div class="column_info_text"><%= @supplier.country %></div>
                            </div>
                            <div class="column_info_item">
                                <label class="column_info_label" style="width:80px">Postcode:</label>
                                <div class="column_info_text"><%= @supplier.postcode %></div>
                            </div>
                </div>
            </div>
        </div>    
        <div class="sub_column_linked_3">
            <div class="column_content">
                <div class="column_info">
                    <div class="column_info_item">
                        <label class="column_info_label" style="width:80px">Notes:</label>
                        <div class="column_info_textarea_20"><%= @supplier.notes %></div>
                    </div>
                </div>
            </div>
        </div>
                   
        <div class="column_linked_footer">
            <div class="column_line"></div>
            <div class="column_edit"><%= link_to "edit details", edit_supplier_path(@supplier) %></div>
            <div class="column_cancel"><%= link_to "back", suppliers_path %></div>
        </div>
            
    </div>
</div>