<div class="row title_band">
    <div class="page_title">
        <h1>Suppliers Details</h1>
    </div>
</div>

<div class="row">
    <div class="col-1-1">
        <div class="border">

            <%= render :partial => "flash_notice" %>
    
            <div class="row">
                <div class="sub-1-3 column_1">
                    <article>
                        <div class="article-set">

                        <!-- show text line --> 
                        <label class="label_80">Company:</label>
                        <span><%= @supplier.company_name %></span></br>

                        <!-- show text line --> 
                        <label class="label_80">VAT No:</label>
                        <span><%= @supplier.vat_no %></span></br>

                        <!-- show text line --> 
                        <label class="label_80">Title:</label>
                        <span><%= @supplier.title %></span></br>

                        <!-- show text line --> 
                        <label class="label_80">First Name:</label>
                        <span><%= @supplier.first_name %></span></br>

                        <!-- show text line --> 
                        <label class="label_80">Surname:</label>
                        <span><%= @supplier.surname %></span></br>

                        <!-- show text line --> 
                        <label class="label_80">Position:</label>
                        <span><%= @supplier.position %></span></br>

                        <!-- show text line --> 
                        <label class="label_80">E-mail:</label>
                        <span><%= @supplier.email %></span></br>

                        <!-- show text line --> 
                        <label class="label_80">Tel:</label>
                        <span><%= @supplier.phone %></span></br>

                        <!-- show text line --> 
                        <label class="label_80">Alt. Tel:</label>
                        <span><%= @supplier.alt_phone %></span></br>

                        </div>
                    </article>
                </div>
                <div class="sub-1-3 column_2">
                    <article>
                        <div class="article-set">

                        <!-- show text line --> 
                        <label class="label_80">Address 1:</label>
                        <span><%= @supplier.address_1 %></span></br>

                        <!-- show text line --> 
                        <label class="label_80">Address 2:</label>
                        <span><%= @supplier.address_2 %></span></br>

                        <!-- show text line --> 
                        <label class="label_80">City:</label>
                        <span><%= @supplier.city %></span></br>

                        <!-- show text line --> 
                        <label class="label_80">County:</label>
                        <span><%= @supplier.county %></span></br>

                        <!-- show text line --> 
                        <label class="label_80">Country:</label>
                        <span><%= @supplier.country %></span></br>

                        <!-- show text line --> 
                        <label class="label_80">Postcode:</label>
                        <span><%= @supplier.postcode %></span></br>

                        </div>
                    </article>                                       
                </div>
                <div class="sub-1-3 column_3">
                    <article>
                        <div class="article-set">

                        <!-- show text line --> 
                        <label class="label_80">Notes:</label>
                        <span><%= @supplier.notes %></span></br>

                        </div>
                    </article> 
                </div>
            </div>
            
            <div class="row">
                <div class="form_footer">
                    <%= link_to "edit", edit_supplier_path(@supplier), class: "left_edit_button"  %>
                    <%= link_to "back", suppliers_path %>
                </div>
            </div>
        </div>
    </div>
</div>
