<div class="content">
    <div class="column_1">
        <div class="column_content">
            
            <% if @rate.errors.any? %>
            <div class="column_error">
            <p><%= pluralize(@rate.errors.count, "error") %> prohibited this detail from being saved:</p>
                  <ul>
                  <% @rate.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
            </div>
            <% end %>
            
            <div class="column_sub_content">
                <div class="column_form">
                <%= form_for(@rate) do |f| %>
                    <%= f.hidden_field :company_id, :value => current_user.company_id %>    
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:80px">Category:</label>                        
                        <% if @ratecategorys %>
                            <div class="column_form_input"><%= f.collection_select(:ratecategory_id, @ratecategorys, :id, :name, {:prompt => :true}, :class => "full_width")%></div>
                            <div class="column_help_tooltip" id="rate_ratecategory"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:80px"></label>                        
                        <% end %>
                            <div class="column_form_button"><%= link_to "add new category", new_ratecategory_path %></div>  
                        </div>                    
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:80px">Name:</label>                        
                            <div class="column_form_input"><%= f.text_field :item %></div>
                            <div class="column_help_tooltip" id="rate_name"></div> 
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:80px">Quantity:</label>                        
                            <div class="column_form_input"><%= f.text_field :quantity, :placeholder => "0"   %></div>
                            <div class="column_help_tooltip" id="rate_name"></div> 
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:80px">Units:</label>                        
                            <div class="column_form_input"><%= f.collection_select(:unit_id, Mjbook::Unit.all, :id, :text, {:value => 1}, :class => "full_width")%></div>
                            <div class="column_help_tooltip" id="ratey_unit_id"></div> 
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:80px">VAT:</label>                        
                            <div class="column_form_input"><%= f.collection_select(:vat_id, Mjbook::Vat.all, :id, :cat, {:value => 1}, :class => "full_width")%></div>
                            <div class="column_help_tooltip" id="rate_vat"></div> 
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:80px">Price:</label>                        
                            <div class="column_form_input"><%= f.text_field :price, :placeholder => "0.00"   %></div>
                            <div class="column_help_tooltip" id="rate_price"></div> 
                        </div>
                </div>
           </div>     
                
           <div class="column_footer">
                <div class="column_line"></div>
                <div class="column_submit"><%= f.submit "save"%></div>
                <div class="column_cancel"><%= link_to "cancel", @rates_path %></div>
                <% end %>
           </div>
            
        </div>
    </div>
    <div class="column_2 column_2_blank"></div> 
    <div class="column_3 column_3_blank"></div> 
</div>




