<div class="page_title">
    <h1>Listing Services (hourly rate)</h1>
</div>

<div class="table_content_with_title">
    <table>
      <thead>
        <tr>
          <th class="tab_cell">Category</th>
          <th class="mob_cell">Item</th>
          <th class="tab_cell">Quantity</th>
          <th class="tab_cell">Unit</th>
          <th class="lrg_cell">Cost/Unit</th>
          <th class="tab_cell">Vat Rate</th>
          <th class="mob_cell">Price/Unit</th>                                        
          <th width="20px" class="row_button"><%= link_to "", new_rate_path, class: 'line_new_icon', title: "create new rate" %></th>
        </tr>
      </thead>
    </table>
    <div class="table_container">
        <table>
          <tbody>
            <% @rates.each do |rate| %>
              <tr>
                <td class="tab_cell"><%= ratecategory.name %></td>
                <td class="mob_cell"><%= rate.item %></td>
                <td class="tab_cell"><%= rate.quantity %></td>
                <td class="tab_cell"><%= rate.unit.text %></td>
                <td class="lrg_cell"><%= pounds(rate.cost) %></td>
                <td class="tab_cell"><%= rate.vat.cat %></td>
                <td class="mob_cell"><%= pounds(rate.price) %></td>                
                <td width="20px" class="row_button"><%= link_to '', edit_rate_path(rate), class: 'line_edit_icon', title: "edit rate" %></td>
                <td width="20px" class="row_button"><%= link_to '', rate, method: :delete, data: { confirm: 'Are you sure?' }, class: 'line_delete_icon', title: "delete rate" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>