<div class="page_title">
    <h1>Listing Services (fixed price)</h1>
</div>

<div class="table_content_with_title">
    <table>
      <thead>
        <tr>
          <th class="tab_cell">Category</th>
          <th class="mob_cell">Item</th>
          <th class="tab_cell">Quantity</th>
          <th class="tab_cell">Unit</th>
          <th class="lrg_cell">Cost/Unit</th>
          <th class="tab_cell">Vat Rate</th>
          <th class="mob_cell">Price/Unit</th>                                        
          <th width="20px" class="row_button"><%= link_to "", new_service_path, class: 'line_new_icon', title: "create new service" %></th>
        </tr>
      </thead>
    </table>
    <div class="table_container">
        <table>
          <tbody>
            <% @services.each do |service| %>
              <tr>
                <td class="tab_cell"><%= servicecategory.name %></td>
                <td class="mob_cell"><%= service.item %></td>
                <td class="tab_cell"><%= service.quantity %></td>
                <td class="tab_cell"><%= service.unit.text %></td>
                <td class="lrg_cell"><%= pounds(service.cost) %></td>
                <td class="tab_cell"><%= service.vat.cat %></td>
                <td class="mob_cell"><%= pounds(service.price) %></td>                
                <td width="20px" class="row_button"><%= link_to '', edit_service_path(service), class: 'line_edit_icon', title: "edit service" %></td>
                <td width="20px" class="row_button"><%= link_to '', service, method: :delete, data: { confirm: 'Are you sure?' }, class: 'line_delete_icon', title: "delete service" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>