<div class="row title_band">
    <div class="page_title">
        <h1>Services (Lump Sum)</h1>
    </div>
    <div class="title_help" id="service_index"></div>
    <div><%= link_to "+ service", new_service_path, class: "title_button" %></div>
</div>

<div class="row">

    <div class="col-1-1 column_1">
        <div class="border">                
                
            <%= render :partial => "flash_notice" %>

            <div class="row">

                <table>
                    <thead>
                        <tr>
                            <th class="service_catetory_name">Category</th>
                            <th class="service_item">Item</th>
                            <th class="service_quantity">Quantity</th>
                            <th class="service_unit">Unit</th>
                            <th class="service_rate">Rate/Unit</br><span>(ex VAT)</span></th>
                            <th class="service_price">Price</br><span>(ex VAT)</span></th>
                            <th class="service_vat">Vat Rate</th>
                            <th class="service_vat_due">Vat</th>
                            <th class="service_total">Total</br><span>(inc VAT)</span></th> 
                            <th class="row_button no_buttons_3">
                                <% if @services %> 
                                    <%= link_to "", print_service_path(current_user.company_id), class: 'table_pdf_icon', title: "download pdf" %>
                                <% end %>
                            </th>
                        </tr>
                    </thead>
                </table>

                <table>
                    <tbody>
                        <% if @services %>            
                            <% @services.each do |service| %>
                                <tr>
                                    <td class="service_catetory_name"><%= service.productcategory.text.titleize %></td>
                                    <td class="service_item"><%= service.item.titleize %></td>
                                    <td class="service_quantity">n/a</td>
                                    <td class="service_unit">n/a</td>
                                    <td class="service_rate">n/a</td>
                                    <td class="service_price"><%= pounds(service.price) %></td>
                                    <td class="service_vat"><%= service.vat.cat %></td>
                                    <td class="service_vat_due"><%= pounds(service.vat_due) %></td>
                                    <td class="service_total"><%= pounds(service.total) %></td>
                                    <td class="row_button no_buttons_3">
                                        <%= row_delete_link(service, 'show') %>
                                        <%= row_edit_link(service, 'show') %>
                                        <%= row_show_link(service, 'show') %>                                         
                                    </td>
                                </tr>
                            <% end %>  
                        <% end %>
                    </tbody>
                </table>
   
            </div>
        </div>
    </div>

</div>
