<div class="content">
    <div class="column_1">
        <div class="column_content">
            
            <% if @transfer.errors.any? %>
            <div class="column_error">
            <p><%= pluralize(@transfer.errors.count, "error") %> prohibited this project from being created</p>
                  <ul>
                  <% @transfer.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
            </div>
            <% end %>
            
            <div class="column_sub_content">
                <div class="column_form">
                <%= form_for(@transfer) do |f| %>
                    <%= f.hidden_field :company_id, :value => current_user.company_id %>
                    <%= f.hidden_field :user_id, :value => current_user.id %> 
                    <%= f.hidden_field :status, :value => 0 %> 

                        <div class="column_form_item">
                            <label class="column_form_label" style="width:60px">From Account*:</label>                        
                            <div class="column_form_input"><%= f.collection_select(:account_from_id, @companyaccounts, :id, :name, {:selected => @transfer.account_from_id, :prompt => :true}, :class => "full_width")%></div>
                            <div class="column_help_tooltip" id="transfer_account_from"></div>  
                        </div>                    
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:60px">To Account*:</label>                        
                            <div class="column_form_input"><%= f.collection_select(:account_to_id, @companyaccounts, :id, :name, {:selected => @transfer.account_to_id, :prompt => :true}, :class => "full_width")%></div>
                            <div class="column_help_tooltip" id="transfer_account_to"></div>  
                        </div>

                        <div class="column_form_item">
                            <label class="column_form_label" style="width:60px">Total:</label>                        
                            <div class="column_form_input"><%= f.text_field :total, {:placeholder => "0.00", :value => number_with_precision(f.object.rate, :precision => 2)} %></div>
                            <div class="column_help_tooltip" id="transfer_total"></div> 
                        </div>

                        <div class="column_form_item">
                            <label class="column_form_label" style="width:60px">Date:</label>                        
                            <div class="column_form_input"><%= f.date_field :date %></div>
                            <div class="column_help_tooltip" id="transfer_date"></div>  
                        </div>

                </div>
           </div>     
                
           <div class="column_footer">
                <div class="column_line"></div>

                <div class="column_submit"><%= f.submit "save"%></div>
                <div class="column_cancel"><%= link_to "cancel", transfers_path %></div>
                <% end %>
           </div>
            
        </div>
    </div>
    <div class="column_2 column_2_blank"></div> 
    <div class="column_3 column_3_blank"></div> 
</div>