<div class="page_title">
    <h1>List of Transfers</h1>
    <div class="page_title_button"><%= link_to 'New Transfer Record', new_transfer_path %> </div>
</div>

<div class="table_content_with_title">
    <table>
      <thead>
        <tr>
          <th class="transfer_from">Account From</th>
          <th class="transfer_to">Account To</th>
          <th class="transfer_total">Total</th>
          <th class="transfer_date">Date</th>
          <th class="transfer_status">Status</th>
          <th width="75px" class="row_button"></th>
        </tr>
      </thead>
    </table>
    <div class="table_container">
        <table>
          <tbody>
          <% if @payments %>            
            <% @payments.each do |payment| %>
              <tr>
                <td class="transfer_invoice"><%= transfer.account_from.name %></td>
                <td class="transfer_method"><%= transfer.account_to.name %></td>
                <td class="transfer_account"><%= transfer.total %></td>
                <td class="transfer_date"><%= transfer.date.strftime("%d/%m/%y") %></td>
                <td class="transfer_status"><%= transfer.status %></td>
                <td  id="<%= transfer.id %>_links" width="75px" class="row_button">
                <% if transfer.reconciled? %>
                    <%= row_delete_link(transfer, 'hidden') %>
                    <%= row_edit_link(transfer, 'hidden') %>
                    <%= row_reconcile_link(transfer, 'hidden') %> 
                <% else %>
                    <%= row_delete_link(transfer, 'show') %>
                    <%= row_edit_link(transfer, 'show') %>
                    <%= row_reconcile_link(transfer, 'show')  %> 
                <% end %>                  
                </td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
    </div>
</div>
