<div class="row title_band">
    <div class="page_title">
        <h1>List of Transfers</h1>
    </div>
    <div class="title_help" id="transfer_index"></div>       
    <div><%= link_to '+ Transfer', new_transfer_path, class: "title_button" %></div>
</div>

<div class="row">

    <div class="col-1-1 column_1">
        <div class="border">

            <%= render :partial => "flash_notice" %>

            <div class="row">

                <table>
                    <thead>
                        <tr>
                            <th class="transfer_from">Account From</th>
                            <th class="transfer_to">Account To</th>
                            <th class="transfer_total">Total</th>
                            <th class="transfer_date">Date</th>
                            <th class="transfer_status">Status</th>
                            <th class="row_button no_buttons_3"></th>
                        </tr>
                    </thead>
                </table>

                <table>
                    <tbody>
                        <% if @transfers %>            
                            <% @transfers.each do |transfer| %>
                                <tr>
                                    <td class="transfer_invoice"><%= transfer.account_from.name.titleize %></td>
                                    <td class="transfer_method"><%= transfer.account_to.name.titleize %></td>
                                    <td class="transfer_account"><%= transfer.total %></td>
                                    <td class="transfer_date"><%= transfer.date.strftime("%d/%m/%y") %></td>
                                    <td class="transfer_status"><%= transfer.state %></td>
                                    <td id="<%= transfer.id %>_links" class="row_button no_buttons_3">
                                        <% if transfer.transferred? %>
                                            <%= row_delete_link(transfer, 'hidden') %>
                                            <%= row_edit_link(transfer, 'hidden') %>
                                            <%= row_transfer_link(transfer, 'hidden') %> 
                                        <% else %>
                                            <%= row_delete_link(transfer, 'show') %>
                                            <%= row_edit_link(transfer, 'show') %>
                                            <%= row_transfer_link(transfer, 'show')  %> 
                                        <% end %>                                         
                                    </td>
                                </tr>
                            <% end %>  
                        <% end %>
                    </tbody>
                </table>
   
            </div>
        </div>
    </div>

</div>
