<p id="notice"><%= notice %></p>

<p>
  <strong>Qgroup:</strong>
  <%= @qline.qgroup_id %>
</p>

<p>
  <strong>Cat:</strong>
  <%= @qline.cat %>
</p>

<p>
  <strong>Item:</strong>
  <%= @qline.item %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @qline.quantity %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @qline.unit %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @qline.rate %>
</p>

<p>
  <strong>Vat:</strong>
  <%= @qline.vat_id %>
</p>

<p>
  <strong>Vat:</strong>
  <%= @qline.vat %>
</p>

<p>
  <strong>Price:</strong>
  <%= @qline.price %>
</p>

<p>
  <strong>Note:</strong>
  <%= @qline.note %>
</p>

<p>
  <strong>Linetype:</strong>
  <%= @qline.linetype %>
</p>

<p>
  <strong>Line order:</strong>
  <%= @qline.line_order %>
</p>

<%= link_to 'Edit', edit_qline_path(@qline) %> |
<%= link_to 'Back', qlines_path %>
