<table>
    <tr>
        <table>
            <tr><td>Reciept No.</td><td></td></tr>
            <tr><td>Reciept Date:</td><td></td></tr>
            <tr><td>Reciept Ref:</td><td></td></tr>
        </table>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <table>
            <tr><td>Total Ex VAT</td><td></td></tr>
            <tr><td>Vat Paid</td><td></td></tr>
            <tr><td>Total Paid</td><td></td></tr>
            <tr><td>Payment Method</td><td></td></tr>
        </table>        
    </tr>
    <tr>
        <td></td>        
    </tr>        
    <tr>
        <table>
            <tr><td>Thank you</td></tr>
            <tr><td><%= current_user.first_name %></td></tr>
            <tr><td>On behalf of <%= current_user.company.name %></td></tr>
            <tr><td><%= current_user.company.email %></td></tr>
            <tr><td><%= current_user.company.www %></td></tr>
            <tr><td><%= current_user.company.vat_no %></td></tr>
        </table>          
    </tr>
</table>

