    <div class="option_band_single">
           <div class="index_select">
              <div class="index_select_label">Employee:</div>
              <div class="index_select_input">
                 <%= select_tag "user_id", options_from_collection_for_select(@users, :id, :name), {:prompt => "Select Employee", :onchange => "window.location='/processexpenses/'+this.value+'/index_personal';"} %>       
              </div>
           </div>  
    </div>


<div class="table_content_with_title">
    <table>
      <thead>
        <tr>
          <th class="mob_cell">Due Date</th>
          <th class="tab_cell">Job</th>
          <th class="lrg_cell">Category</th> 
          <th class="lrg_cell">Reference</th>
          <th class="mob_cell">Supplier</th>
          <th class="lrg_cell">Supplier Ref</th>         
          <th class="lrg_cell">Issue Date</th>          
          <th class="lrg_cell">Bill Image</th>
          <th class="mob_cell">Distance</th>
          <th class="lrg_cell">VAT</th>
          <th class="mob_cell">Amount</th>
          <th class="lrg_cell">Status</th>
          <th width="20px" class="row_button"></th>
          <th width="20px" class="row_button"><%= link_to "", nil, class: 'table_pdf_icon', title: "download pdf" %></th>
          <th width="20px" class="row_button"><%= link_to "", nil, class: 'table_csv_icon', title: "download csv" %></th>
        </tr>
      </thead>
    </table>
    <div class="table_container">
        <table>
          <tbody>
            <% @expenses.each do |expense| %>
              <tr>
                <td class="mob_cell"><%= personalexpense.due_date %></td>
                <td class="tab_cell"><%= personalexpense.project.ref %></td>
                <td class="lrg_cell"><%= personalexpense.hmrcexpcat.category %></td>
                <% if personalexpense.hmrcexpcat.category == "mileage" %>                
                    <td class="lrg_cell"><%= personalexpense.ref %></td>
                    <td class="mob_cell"></td>
                    <td class="lrg_cell"></td>
                    <td class="lrg_cell"><%= personalexpense.issue_date %></td>
                    <td class="lrg_cell"></td>
                    <td class="lrg_cell"></td>
                    <td class="mob_cell"><%= personalexpense.mideage.distance %></td>
                    <td class="mob_cell"><%= personalexpense.amount %></td>
                    <td class="lrg_cell"><%= personalexpense.status %></td>
                    <td width="20px" class="row_button"><%= link_to "", mileage_path(expense), class: 'line_view_icon', title: "view mileage information" %></td>
                    <% if businessexpense.status == "accepted" %>
                        <td width="20px" class="row_button"><%= link_to "", reject_expense_processexpense_path(expense), class: 'line_reject_icon', title: "mark not for payment" %></td>                
                    <% else %>
                        <td width="20px" class="row_button"><%= link_to "", accept_expense_processexpense_path(expense), class: 'line_accept_icon', title: "mark for payment" %></td>
                    <% end %>                
                <% else %>
                    <td class="lrg_cell"><%= personalexpense.ref %></td>
                    <td class="mob_cell"><%= personalexpense.supplier.name %></td>
                    <td class="lrg_cell"><%= personalexpense.supplier_ref %></td>
                    <td class="lrg_cell"><%= personalexpense.issue_date %></td>
                    <td class="lrg_cell"><%= personalexpense.receipt %></td>
                    <td class="mob_cell"></td>
                    <td class="lrg_cell"><%= personalexpense.vat %></td>
                    <td class="mob_cell"><%= personalexpense.amount %></td>
                    <td class="lrg_cell"><%= personalexpense.status %></td>
                    <td width="20px" class="row_button"><%= link_to "", nil, class: 'line_view_icon', title: "view reciept" %></td>
                    <% if businessexpense.status == "accepted" %>
                        <td width="20px" class="row_button"><%= link_to "", reject_expense_processexpense_path(expense), class: 'line_reject_icon', title: "mark not for payment" %></td>                
                    <% else %>
                        <td width="20px" class="row_button"><%= link_to "", accept_expense_processexpense_path(expense), class: 'line_accept_icon', title: "mark for payment" %></td>
                    <% end %>                
                <% end %>              
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>
