<div class="row title_band">
    <div class="page_title">
        <h1>Miscellaneous Products/Services</h1>
    </div>
    <div class="title_help" id="misc_index"></div>
    <div><%= link_to "+ misc", new_misc_path, class: "title_button" %></div>
</div>

<div class="row">

    <div class="col-1-1 column_1">
        <div class="border">                
               
            <%= render :partial => "flash_notice" %>

            <div class="row">

                <table>
                    <thead>
                        <tr>
                            <th class="misc_catetory_name">Category</th>
                            <th class="misc_item">Item</th>
                            <th class="misc_quantity">Quantity</th>
                            <th class="misc_unit">Unit</th>
                            <th class="misc_rate">Rate/Unit</br><span>(ex VAT)</span></th>
                            <th class="misc_price">Price</br><span>(ex VAT)</span></th>
                            <th class="misc_vat">Vat Rate</th>
                            <th class="misc_vat_due">Vat</th>
                            <th class="misc_total">Total</br><span>(inc VAT)</span></th> 
                            <th class="row_button no_buttons_3">
                                <% if @miscs %> 
                                    <%= link_to "", print_misc_path(current_user.company_id), class: 'table_pdf_icon', title: "download pdf" %>
                                <% end %> 
                            </th>
                        </tr>
                    </thead>
                </table>

                <table>
                    <tbody>
                        <% if @miscs %>            
                            <% @miscs.each do |misc| %>
                                <tr>
                                    <td class="misc_catetory_name"><%= misc.productcategory.text.titleize %></td>
                                    <td class="misc_item"><%= misc.item.titleize %></td>
                                    <td class="misc_quantity">n/a</td>
                                    <td class="misc_unit">n/a</td>
                                    <td class="misc_rate">n/a</td>
                                    <td class="misc_price">n/a</td>                
                                    <td class="misc_vat">n/a</td>
                                    <td class="misc_vat_due">n/a</td>
                                    <td class="misc_total">n/a</td> 
                                    <td class="row_button no_buttons_3">
                                        <%= row_delete_link(misc, 'show') %>
                                        <%= row_edit_link(misc, 'show') %>
                                        <%= row_show_link(misc, 'show') %>                                         
                                    </td>
                                </tr>
                            <% end %>  
                        <% end %>
                    </tbody>
                </table>
   
            </div>
        </div>
    </div>

</div>
