<div class="content">
    <div class="column_1">
        <div class="column_content">
        
            <% if @mileage.errors.any? %>
            <div class="column_error">
            <p><%= pluralize(@mileage.errors.count, "error") %> prohibited this mileage from being created</p>
                  <ul>
                  <% @mileage.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
            </div>
            <% end %>
            
            <div class="column_sub_content">
                <div class="column_form">
                <%= form_for(@mileage) do |f| %>
                    <%= f.hidden_field :user_id, :value => current_user.id %>
		            <%= f.hidden_field :hmrcexpcat_id, :value => 1 %>       
                    
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:95px">Job Reference*:</label>                        
                        <% if @projects %>
                            <div class="column_form_input"><%= f.collection_select(:project_id, @projects, :id, :name, {:selected => @mileage.project_id, :prompt => :true}, :class => "full_width")%></div>
                            <div class="column_help_tooltip" id="mileage_project"></div>
                            <div class="column_error_note"> <%= error_check(@mileage, :project_id)%></div>   
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:95px"></label>                        
                        <% end %>
                            <div class="column_form_button"><%= link_to "create new job", new_project_path %></div>  
                        </div>
                        
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:95px">Date*:</label>                        
                            <div class="column_form_input"><%= f.date_field :date, :value => Time.now.strftime('%Y-%m-%d') %></div>
                            <div class="column_help_tooltip" id="mileage_date"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:95px">Mode*:</label>                        
                            <div class="column_form_input"><%= f.collection_select(:mileagemode_id, Mjbook::Mileagemode.all, :id, :mode, {:selected => @mileage.mileagemode_id, :prompt => :true}, :class => "full_width")%></div>
                            <div class="column_help_tooltip" id="mileage_mileagemethod"></div>
                            <div class="column_error_note"> <%= error_check(@mileage, :mileagemode_id)%></div>   
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:95px">Start*:</label>                        
                            <div class="column_form_input"><%= f.text_field :start%></div>
                            <div class="column_help_tooltip" id="mileage_start"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:95px">Destination*:</label>                        
                            <div class="column_form_input"><%= f.text_field :finish%></div>
                            <div class="column_help_tooltip" id="mileage_finish"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:95px">Total Mileage*:</label>                        
                            <div class="column_form_input"><%= f.text_field :distance%></div>
                            <div class="column_help_tooltip" id="mileage_distance"></div>  
                        </div>
                </div>
           </div>     
                
           <div class="column_footer">
                <div class="column_line"></div>

                <div class="column_submit"><%= f.submit "save"%></div>
                <div class="column_cancel"><%= link_to "cancel", personal_path %></div>
                <% end %>
           </div>
            
        </div>
    </div>
    <div class="column_2 column_2_blank"></div> 
    <div class="column_3 column_3_blank"></div> 
</div>