<div class="content">
    <div class="column_1">
        <div class="column_content">
        
            <% if @mileage.errors.any? %>
            <div class="column_error">
            <p><%= pluralize(@mileage.errors.count, "error") %> prohibited this mileage from being created</p>
                  <ul>
                  <% @mileage.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
            </div>
            <% end %>
            
            <div class="column_sub_content">
                <div class="column_form">
                <%= form_for(@mileage) do |f| %>
                    <%= f.hidden_field :current_user.id, :value => current_user.id %>
		<%= f.hidden_field :hmrcexpcat_id, :value => "" %>       
                    
                        <div class="column_form_item">
                            <label class="column_form_label">Job Reference:</label>                        
                            <div class="column_form_input"><%= f.collection_select(:project_id, Mjbook::Project.company, :id, :ref_name, {:selected => @mileage.project_id, :prompt => :true})%></div>
                            <div class="column_help_tooltip" id="mileage_project"></div>
                            <div class="column_error_note"> <%= error_check(@mileage, :project_id)%></div>   
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label">Mode:</label>                        
                            <div class="column_form_input"><%= f.collection_select(:mileagemethod_id, Mjbook::Mileagemethod.all, :id, :mode, {:selected => @mileage.mileagemethod_id, :prompt => :true})%></div>
                            <div class="column_help_tooltip" id="mileage_mileagemethod"></div>
                            <div class="column_error_note"> <%= error_check(@mileage, :mileagemethod_id)%></div>   
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label">Start Location:</label>                        
                            <div class="column_form_input"><%= f.text_field :start%></div>
                            <div class="column_help_tooltip" id="mileage_start"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label">Destination Location:</label>                        
                            <div class="column_form_input"><%= f.text_field :finish%></div>
                            <div class="column_help_tooltip" id="mileage_finish"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label">Distance:</label>                        
                            <div class="column_form_input"><%= f.text_field :distance%></div>
                            <div class="column_help_tooltip" id="mileage_distance"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label">Single/Return:</label>                        
                            <div class="column_form_input"><%= f.check_box :return, {}, "single", "return" %></div>
                            <div class="column_help_tooltip" id="mileage_return"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label">Date:</label>                        
                            <div class="column_form_input"><%= f.date_field :date%></div>
                            <div class="column_help_tooltip" id="mileage_date"></div>  
                        </div>
                </div>
           </div>     
                
           <div class="column_footer">
                <div class="column_line"></div>

                <div class="column_submit"><%= f.submit "save"%></div>
                <div class="column_cancel"><%= link_to "cancel", mileages_path %></div>
                <% end %>

           </div>
            
        </div>
    </div>
    <div class="column_2 column_blank"></div> 
    <div class="column_3 column_blank"></div> 
</div>