<div class="page_title">
    <h1>Show Mileage Record</h1>
</div>

<div class="content">
    <div class="column_1">
        <div class="column_content">

            <div class="column_sub_content">
                <div class="column_form">                      
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:100px">Job Reference:</label>                        
                            <div class="column_form_text"><%= @mileage.project_id %></div>
                        </div>                       
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:100px">Date:</label>                        
                            <div class="column_form_text"><%= @mileage.date %></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:100px">Mode:</label>                        
                            <div class="column_form_text"><%= @mileage.mileagemethod.mode %></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:100px">Start:</label>                        
                            <div class="column_form_text"><%= @mileage.start %></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:100px">Destination:</label>                        
                            <div class="column_form_text"><%= @mileage.finish %></div> 
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:100px">Total Mileage:</label>                        
                            <div class="column_form_text"><%= @mileage.distance %></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:100px">Single/Return:</label>                        
                            <div class="column_form_text"><%= @mileage.return %></div> 
                        </div>
                </div>
           </div>     
                
           <div class="column_footer">
                <div class="column_line"></div>
                <div class="column_cancel"><%= link_to "cancel", personalexpenses_path %></div>
           </div>
            
        </div>
    </div>
    <div class="column_2 column_2_blank"></div> 
    <div class="column_3 column_3_blank"></div> 
</div>
