<div class="row title_band">
    <div class="page_title">
        <h1>Mileage Details</h1>
    </div>
</div>

<div class="row">
    <div class="col-1-3 column_1">
        <div class="border">

            <%= render :partial => "flash_notice" %>
<!-- column start-->
            <div class="row">
                <article>
                    <div class="article-set">

                        <!-- show text line --> 
                        <label class="label_80">Job:</label>
                        <span><%= @mileage.project.name.titleize %></span></br>
    
                        <!-- show text line --> 
                        <label class="label_80">Date:</label>
                        <span><%= @mileage.date.strftime("%d/%m/%y") %></span></br>
    
                        <!-- show text line --> 
                        <label class="label_80">Mode:</label>
                        <span><%= @mileage.mileagemode.mode.titleize %></span></br>
    
                        <!-- show text line --> 
                        <label class="label_80">Start:</label>
                        <span><%= @mileage.start.titleize %></span></br>
    
                        <!-- show text line --> 
                        <label class="label_80">Destination:</label>
                        <span><%= @mileage.finish.titleize %></span></br>

                        <!-- show text line --> 
                        <label class="label_80">Total Mileage:</label>
                        <span><%= @mileage.distance %></span></br>

                    </div>
                </div>
            </div>
<!-- column footer start--> 
            <div class="row">
                <div class="form_footer">
                    <%= link_to "back", employees_path %>
                </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-1-3 column_2">
        <div class="border blank_column"></div>
    </div>
    <div class="col-1-3 column_3">
        <div class="border blank_column"></div>
    </div>
</div>