<div class="content">
    <div class="column_1">
        <div class="column_content">
            
            <% if @invoice.errors.any? %>
            <div class="column_error">
            <p><%= pluralize(@invoice.errors.count, "error") %> prohibited this project from being created</p>
                  <ul>
                  <% @invoice.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
            </div>
            <% end %>
            
            <div class="column_sub_content">
                <div class="column_form">
                <%= form_for(@invoice) do |f| %>
                    <%= f.hidden_field :company_id, :value => current_user.company_id %>
                    <%= f.hidden_field :status, :value => "submitted" %> 
                    
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:60px">Job Ref*:</label>                        
                        <% if @projects %>
                            <div class="column_form_input"><%= f.collection_select(:project_id, @projects, :id, :name, {:selected => @quote.project_id, :prompt => :true}, :class => "full_width")%></div>
                            <div class="column_help_tooltip" id="quote_project"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:60px"></label>                        
                        <% end %>
                            <div class="column_form_button"><%= link_to "create new job", new_project_path %></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:90px">Invoice Type*:</label>                        
                            <div class="column_form_input"><%= f.collection_select(:invoicetype_id, Mjbook::Invoicetype.all, :id, :category, {:selected => @invoice.invoicetype_id, :prompt => :true}, :class => "full_width")%></div>
                            <div class="column_help_tooltip" id="businessexpense_hmrcexpcat"></div>  
                        </div>                                                
                       <div class="column_form_item">
                            <label class="column_form_label" style="width:60px">Ref:*</label>                        
                            <div class="column_form_input"><%= f.text_field :ref %></div>
                            <div class="column_help_tooltip" id="quote_ref"></div> 
                            <div class="column_error_note"> <%= error_check(@quote, :ref)%></div> 
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:60px">Type:</label>                        
                            <div class="column_form_input"><%= f.text_field :invoicetype_id %></div>
                            <div class="column_help_tooltip" id="quote_ref"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:60px">Customer Ref:</label>                        
                            <div class="column_form_input"><%= f.text_field :customer_ref %></div>
                            <div class="column_help_tooltip" id="quote_ref"></div> 
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:60px">Date:</label>                        
                            <div class="column_form_input"><%= f.date_field :date %></div>
                            <div class="column_help_tooltip" id="quote_date"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:90px">Terms*:</label>                        
                            <div class="column_form_input"><%= f.collection_select(:invoiceterm_id, @invoiceterms, :id, :period, {:selected => @invoice.invoiceterm_id, :prompt => :true}, :class => "full_width")%></div>
                            <div class="column_help_tooltip" id="businessexpense_hmrcexpcat"></div>  
                        </div>
                </div>
           </div>     
                
           <div class="column_footer">
                <div class="column_line"></div>

                <div class="column_submit"><%= f.submit "save"%></div>
                <div class="column_cancel"><%= link_to "cancel", quotes_path %></div>
                <% end %>
           </div>
            
        </div>
    </div>
    <div class="column_2 column_2_blank"></div> 
    <div class="column_3 column_3_blank"></div> 
</div>
