<div class="content">
    <div class="column_1">
        <div class="column_content">
            
            <% if @project.errors.any? %>
            <div class="column_error">
            <p><%= pluralize(@project.errors.count, "error") %> prohibited this project from being created</p>
                  <ul>
                  <% @project.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
            </div>
            <% end %>
            
            <div class="column_sub_content">
                <div class="column_form">
                <%= form_for(@project) do |f| %>
                    <%= f.hidden_field :company_id, :value => current_user.company_id %>    
                    <%= f.hidden_field :invoicemethod_id, :value => 1 %>
                    
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:100px">Reference:*</label>                        
                            <div class="column_form_input"><%= f.text_field :ref %></div>
                            <div class="column_help_tooltip" id="project_ref"></div>
                            <div class="column_error_note"> <%= error_check(@project, :ref)%></div>   
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:100px">Title:*</label>                        
                            <div class="column_form_input"><%= f.text_field :title %></div>
                            <div class="column_help_tooltip" id="project_title"></div>
                            <div class="column_error_note"> <%= error_check(@project, :title)%></div>   
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:100px">Customer*:</label>                        
                        <% if @customers %>
                            <div class="column_form_input"><%= f.collection_select(:customer_id, @customers, :id, :company_name, {:prompt => :true}, :class => "full_width")%></div>
                            <div class="column_help_tooltip" id="project_customer"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:100px"></label>                        
                        <% end %>
                            <div class="column_form_button"><%= link_to "add new customer", new_customer_path %></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:100px">Customer_ref:</label>                        
                            <div class="column_form_input"><%= f.text_field :customer_ref %></div>
                            <div class="column_help_tooltip" id="project_customer_ref"></div>   
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:100px">Description:</label>                        
                            <div class="column_form_input"><%= f.text_area :description, :rows => 6 %></div>
                            <div class="column_help_tooltip" id="project_description"></div>  
                        </div>
                </div>
           </div>     
                
           <div class="column_footer">
                <div class="column_line"></div>

                <div class="column_submit"><%= f.submit "save"%></div>
                <div class="column_cancel"><%= link_to "cancel", projects_path %></div>
                <% end %>

           </div>
            
        </div>
    </div>
    <div class="column_2 column_2_blank"></div> 
    <div class="column_3 column_3_blank"></div> 
</div>