<ul class='column_tabs'>
    <li class="tab_1"><a href='#div_1'>div_1</a></li>
    <li class="tab_2"><a href='#div_2'>div_2</a></li>
    <li class="tab_3"><a href='#div_3'>div_3</a></li>
</ul>
    
<div class="tabulated_content">           
    <div class="column_tabulated_1 column_blank" id="div_1">
        <div class="column_content">
        
            <% if @project.errors.any? %>
            <div class="column_error">
            <p><%= pluralize(@project.errors.count, "error") %> prohibited this project from being created</p>
                  <ul>
                  <% @project.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
            </div>
            <% end %>
            
            <div class="column_sub_content">
                <div class="column_form">
                <%= form_for(@project) do |f| %>
                    <%= f.hidden_field :company_id, :value => "" %>    
                    
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:80px">Reference:*</label>                        
                            <div class="column_form_input"><%= f.text_field :ref %></div>
                            <div class="column_help_tooltip" id="project_ref"></div>
                            <div class="column_error_note"> <%= error_check(@project, :ref)%></div>   
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:80px">Title:*</label>                        
                            <div class="column_form_input"><%= f.text_field :title %></div>
                            <div class="column_help_tooltip" id="project_title"></div>
                            <div class="column_error_note"> <%= error_check(@project, :title)%></div>   
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:80px">Customer:</label>                        
                            <div class="column_form_input"><%= f.select :customer_id, ['test 2','test 1'] %></div>
                            <div class="column_help_tooltip" id="project_customer"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:80px">Description:</label>                        
                            <div class="column_form_input"><%= f.text_area :description, :rows => "5" %></div>
                            <div class="column_help_tooltip" id="project_description"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:80px">Invoice Method:</label>                        
                            <div class="column_form_input"><%= f.collection_select(:invoicemethod_id, Mjbook::Invoicemethod.all, :id, :method, {:selected => @project.invoicemethod_id, :prompt => :true})%></div>
                            <div class="column_help_tooltip" id="project_invoicemethod"></div>  
                        </div>
                </div>
           </div>     
                
           <div class="column_footer">
                <div class="column_line"></div>

                <div class="column_submit"><%= f.submit "save"%></div>
                <div class="column_cancel"><%= link_to "cancel", projects_path %></div>
                <% end %>

           </div>
            
        </div>
    </div>
    <div class="column_tabulated_2 column_blank" id="div_2">col 2</div> 
    <div class="column_tabulated_3 column_blank" id="div_3">col 3</div>    
</div>