<div class="row title_band">
    <div class="page_title">
        <h1>Jobs/Projects</h1>
    </div>
    <div class="title_help" id="job_index"></div>
    <div><%= link_to "+ job", new_project_path, class: "title_button" %></div>
</div>

<div class="row">

    <div class="col-1-1 column_1">
        <div class="border">                
                
            <%= render :partial => "flash_notice" %>

            <div class="row">

                <table>
                    <thead>
                        <tr>
                            <th class="project_ref">Ref</th>
                            <th class="project_title">Title</th>
                            <th class="project_customer">Customer</th>
                            <th class="project_customer_ref">Customer ref</th>
                            <th class="project_description">Description</th>
                            <th class="row_button no_buttons_3">
                                <% if @projects %>
                                    <%= link_to "", print_project_path(current_user.company_id), class: 'table_pdf_icon', title: "download pdf" %>
                                <% end %>
                            </th>
                        </tr>
                    </thead>
                </table>

                <table>
                    <tbody>
                        <% if @projects %>            
                            <% @projects.each do |project| %>
                                <tr>
                                    <td class="project_ref"><%= project.ref %></td>
                                    <td class="project_title"><%= project.title.titleize %></td>
                                    <td class="project_customer"><%= project.customer.company_name.titleize %></td>
                                    <td class="project_customer_ref"><%= project.customer_ref %></td>
                                    <td class="project_description"><%= project.description %></td>
                                    <td class="row_button no_buttons_3">
                                        <% unless project_in_use(project) %>                
                                            <%= row_delete_link(project, 'show') %>
                                        <% end %>   
                                        <%= row_edit_link(project, 'show') %>          
                                        <%= row_show_link(project, 'show') %>                                        
                                    </td>
                                </tr>
                            <% end %>  
                        <% end %>
                    </tbody>
                </table>
   
            </div>
        </div>
    </div>

</div>
