<div class="page_title">
    <h1>Project Details</h1>
</div>

<div class="content">
    <div class="column_linked_container">          
    
        <div class="sub_column_linked_1">
            <div class="column_content">
                <div class="column_info">                        
                            <div class="column_info_item">
                                <label class="column_info_label" style="width:90px">Ref:</label>                        
                                <div class="column_info_text"><%= @project.ref %></div>
                            </div>
                            <div class="column_info_item">
                                <label class="column_info_label" style="width:90px">Title:</label>                        
                                <div class="column_info_text"><%= @project.title %></div>
                            </div>
                            <div class="column_info_item">
                                <label class="column_info_label" style="width:90px">Customer Ref:</label>                        
                                <div class="column_info_text"><%= @project.customer_ref %></div> 
                            </div>
                            <div class="column_info_item">
                                <label class="column_info_label" style="width:90px">Customer:</label>                        
                                <div class="column_info_text"><%= @project.customer.company_name %></div> 
                            </div>

                </div>
            </div>
        </div>
        <div class="sub_column_linked_2">
            <div class="column_content">
                <div class="column_info">    
                    <div class="column_info_item">
                        <label class="column_info_label" style="width:80px">Description:</label>                        
                        <div class="column_info_textarea_20"><%= @project.description %></div>
                    </div>    
                </div>
            </div>     
        </div> 
        <div class="sub_column_linked_3 column_linked_blank"></div> 
                   
        <div class="column_linked_footer">
            <div class="column_line"></div>
            <div class="column_edit"><%= link_to "edit details", edit_project_path(@project) %></div>
            <div class="column_cancel"><%= link_to "back", projects_path %></div>
        </div>
            
    </div>
</div>