<div class="row title_band">
    <div class="page_title">
        <h1>Project Details</h1>
    </div>
</div>

<div class="row">
    <div class="col-1-3 column_1">
        <div class="border">
                
            <%= render :partial => "flash_notice" %>
<!-- column start-->
            <div class="row">
                <article>
                    <div class="article-set">

                        <!-- show text line --> 
                        <label class="label_80">Reference:</label>
                        <span><%= @project.ref %></span></br>
    
                        <!-- show text line --> 
                        <label class="label_80">Title:</label>
                        <span><%= @project.title.titleize %></span></br>
    
                        <!-- show text line --> 
                        <label class="label_80">Customer:</label>
                        <span><%= @project.customer.company_name.titleize %></span></br>
    
                        <!-- show text line --> 
                        <label class="label_80">Customer Ref:</label>
                        <span><%= @project.customer_ref %></span></br>
    
                        <!-- show text line --> 
                        <label class="label_80">Description:</label>
                        <span><%= @project.description %></span></br>

                    </div>
                </article>
            </div>
<!-- column footer start--> 
            <div class="row">
                <div class="form_footer">
                    <%= link_to "edit details", edit_project_path(@project), class: "left_edit_button" %>
                    <%= link_to "back", projects_path %>
                </div>
            </div>
        </div>
    </div>

    <div class="col-1-3 column_2">
        <div class="border blank_column"></div>
    </div>
    <div class="col-1-3 column_3">
        <div class="border blank_column"></div>
    </div>
</div>
