<p id="notice"><%= notice %></p>

<p>
  <strong>Ref:</strong>
  <%= @project.ref %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @project.customer_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Invoicemethod:</strong>
  <%= @project.invoicemethod_id %>
</p>

<p>
  <strong>Customer ref:</strong>
  <%= @project.customer_ref %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
