<div class="row title_band">
    <div class="page_title">
        <h1>Donors</h1>
    </div>
    <div class="title_help" id="participants_index"></div>       
    <div><%= link_to "+ participant", new_participant_path, class: "title_button" %></div>
</div>

<div class="row">

    <div class="col-1-1 column_1">
        <div class="border">

            <%= render :partial => "flash_notice" %>

            <div class="row">

                <table>
                    <thead>
                        <tr>
                            <th class="participant_name">Name</th>
                            <th class="participant_house">House</th>
                            <th class="participant_postcode">Postcode</th>
                            <th class="row_button no_buttons_3">
                                <% if @participants %>
                                    <%= link_to "", print_participant_path(current_user.company_id), class: 'table_pdf_icon', title: "download pdf" %>
                                <% end %>
                            </th>
                        </tr>
                    </thead>
                </table>

                <table>
                    <tbody>
                        <% if @participants %>
                            <% @participants.each do |participant| %>
                                <tr>
                                    <td class="participant_name"><%= participant.name %></td>
                                    <td class="participant_house"><%= participant.house %></td>
                                    <td class="participant_postcode"><%= participant.postcode %></td>
                                    <td class="row_button no_buttons_3">
                                        <% unless participant_in_use(participant) %>
                                            <%= row_delete_link(participant, 'show') %>
                                        <% end %>
                                        <%= row_edit_link(participant, 'show') %>
                                        <%= row_show_link(participant, 'show') %>                                        
                                    </td>
                                </tr>
                            <% end %>  
                        <% end %>
                    </tbody>
                </table>
   
            </div>
        </div>
    </div>

</div>