<div class="row title_band">
    <div class="page_title">
        <h1>Summary</h1>
    </div>
</div>

<div class="row">
    <div class="col-1-3 column_1">
        <div class="border">

                <div class="row">
                    <div class="column_title">
                        <h3>Expenses Pending<span class="form_tooltip"></span></h3>
                    </div>
                </div>

                <div class="row">
                    <div id="expenses_bar_chart" class="column_bar_chart"></div> 
                </div>

                <div class="row">
                    <div class="form_footer">
                        <%= link_to "add", nil %>
                        <%= link_to "list", nil %>
                    </div>
                </div>
            
        </div>            
    </div>
</div>

<div class="row">
    <div class="col-1-3 column_2">
        <div class="border">

                <div class="row">
                    <div class="column_title">
                        <h3>Income Pending<span class="form_tooltip"></span></h3>
                    </div>
                </div>

                <div class="row">
                    <div id="income_bar_chart" class="column_bar_chart"></div>
                </div>

                <div class="row">
                    <div class="form_footer">
                        <%= link_to "add", nil %>
                        <%= link_to "list", nil %>
                    </div>
                </div>
                        
        </div>            
    </div>
</div>

<div class="row">
    <div class="col-1-3 column_3">
        <div class="border">

                <div class="row">
                    <div class="column_title">
                        <h3>Projected Balance<span class="form_tooltip"></span></h3>
                    </div>
                </div>

                <div class="row">
                    <div id="balance_bar_chart" class="column_bar_chart"></div>
                </div>

                <div class="row">
                    <div class="form_footer">
                        <%= link_to "add", nil %>
                        <%= link_to "list", nil %>
                    </div>
                </div>
            
        </div>            
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function(){

        var e1 = [@exp_due[0], @exp_due[1], @exp_due[2]]; //accepted
        var e2 = [@exp_pending[0]]; //accepted
        var e3 = [@exp_pending[1]]; //submitted 
        var e4 = [@exp_pending[2]]; //submitted 

        var i1 = [@inc_due[0], @inc_due[1], @inc_due[2]]; //accepted
        var i2 = [@inc_pending[0]]; //accepted
        var i3 = [@inc_pending[1]]; //submitted 
        var i4 = [@inc_pending[2]]; //submitted 

        var ticks = ['due', '0-30 days', '30-60 days', '60-90 days'];

        var render_options = {fillToZero: true, barWidth: 55}
        var y_axis_settings = {pad: 1.05, min: 0, tickOptions: {formatString: "£%'d", fontSize: '8pt' }, rendererOptions: {drawBaseline: false}};
        var x_axis_settings = {renderer: $.jqplot.CategoryAxisRenderer, ticks: ticks, tickOptions: {fontSize: '8pt'}};
        var grid_settings = {background: '#fff',borderWidth: 0, shadow: false,};
               
        var plot1 = $.jqplot('expenses_bar_chart', [e1, e2, e3, e4], {
            stackSeries: true,        
            seriesDefaults:{
                renderer:$.jqplot.BarRenderer,
                rendererOptions: render_options,
                pointLabels: {show: true, stackedValue: true}
            },
            series:[
                {label:'>0 days'},
                {label:'>0 days'},
                {label:'>30 days'},
                {label:'>60 days'}
            ],
            legend: {
                renderer: $.jqplot.EnhancedLegendRenderer,
                show: true,
                placement: 'outsideGrid',
                location: 's',
                rendererOptions: {
                    numberRows: 1
                }
            },
            axes: {xaxis: x_axis_settings, yaxis: y_axis_settings},
            grid: grid_settings,        
            seriesColors: [ "#ffd0d0", "#ff9090", "#ff7070", "#ff5050"],
        });
        
        $("#expenses_bar_chart").find("td.jqplot-table-legend-label").first().hide();
        $("#expenses_bar_chart").find("td.jqplot-table-legend-swatch").first().hide();        
        $("#expenses_bar_chart").find("div.jqplot-point-0").first().hide();
        
        var plot2 = $.jqplot('income_bar_chart', [i1, i2, i3, i4], {
            stackSeries: true,        
            seriesDefaults:{
                renderer:$.jqplot.BarRenderer,
                rendererOptions: render_options,
                pointLabels: {show: true, stackedValue: true}
            },
            series:[
                {label:'>0 days'},
                {label:'>0 days'},
                {label:'>30 days'},
                {label:'>60 days'}
            ],
            legend: {
                renderer: $.jqplot.EnhancedLegendRenderer,
                show: true,
                placement: 'outsideGrid',
                location: 's',
                rendererOptions: {
                    numberRows: 1
                }
            },
            axes: {xaxis: x_axis_settings, yaxis: y_axis_settings},
            grid: grid_settings,        
            seriesColors: [ "#507d50", "#64c864", "#b4eab9", "#e0ffd0" ],
        });

        $("#income_bar_chart").find("td.jqplot-table-legend-label").first().hide();
        $("#income_bar_chart").find("td.jqplot-table-legend-swatch").first().hide();
        $("#income_bar_chart").find("div.jqplot-point-0").first().hide();
        
        
        var plot3 = $.jqplot('balance', [<%= @transactions_array %>]{
			axes:{xaxis:{renderer:$.jqplot.DateAxisRenderer}},
			series:[{lineWidth:4, markerOptions:{style:'square'}}]
        });
            
    });        
</script> 
    
<style type="text/css">
.column_bar_chart .jqplot-point-label {
  color: #000;
  font-size: 1.1rem;
  margin-top: -5px;
  margin-bottom: -5px;
}
</style>
    
