<div class="row title_band">
    <div class="page_title">
        <h1>Account: <%= @summary.companyaccount.name %></h1>
    </div>
    <div class="title_help" id="summaries_index"></div>
</div>

<div class="row filter_band">
    <%= form_tag summary_path, method: :get do %>

        <div>
            <div>
                <label class="select">Account:</label>
                <%= select_tag 'companyaccount_id', options_from_collection_for_select(@companyaccounts, :id, :name, @companyaccount.id), prompt: "Select something" %>
            </div>
            <div>
                <label class="date">Date From:</label>
                <%= date_field_tag('date_from', value = @date_from, {placeholder: 'dd/mm/yyyy'}) %>    
                <label class="date">Date To:</label>
                <%= date_field_tag('date_to', value = @date_to, {placeholder: 'dd/mm/yyyy'}) %>
            </div>
            <%= submit_tag 'Filter' %>
        </div>

        <div class="float_right">
            <div><%= submit_tag 'pdf', :class => "table_pdf_icon"%></div>
            <div><%= submit_tag 'csv', :class => "table_csv_icon"%></div>
        </div>

    <% end %>
</div>


<div class="row">
    <div class="col-1-1 column_1">
        <div class="border">
            <div class="row">

                <table>
                    <thead>
                        <tr>
                            <th class="transaction_date">Date</th>
                            <th class="transaction_item">Item</th>
                            <th class="transaction_type">Type</th>
                            <th class="transaction_income">Income</th>
                            <th class="transaction_expend">Expenditure</th>
                            <th class="transaction_balance">Balance</th>
                            <th class="transaction_status">Status</th>
                            <th class="row_button no_buttons_2"></th>
                        </tr>
                    </thead>
                </table>
                <table>
                    <tbody>
                        <% if @summaries %>
                            <% @summaries.each do |summary| %>
                                <tr>
                                    <td class="transaction_date"><%= summary.date.strftime("%d/%m/%y") %></td>
                                    <% if summary.expend_id? %>
	                                    <td class="transaction_ref"><%= summary.expend.ref %></td>
	                                    <td class="transaction_type"><%= summary.expend.exp_type %></td>
                                    <% elsif summary.payment_id? %>
	                                    <td class="transaction_ref"><%= summary.payment.ref %></td>
	                                    <td class="transaction_type"><%= summary.payment.inc_type %></td>
                                    <% elsif summary.transfer_id? %>
                                        <td class="transaction_ref"></td>
                                        <td class="transaction_type">Transfer</td>
                                    <% else %>
                                        <td class="transaction_ref"></td>
                                        <td class="transaction_type">Opening Balance</td>
                                    <% end %>
                                    <td class="transaction_income"><%= summary.amount_in %></td>
                                    <td class="transaction_expend"><%= summary.amount_out %></td>
                                    <td class="transaction_balance"><%= pounds(summary.account_balance) %></td>
                                    <td id="<%= summary.id %>_status"  class="transaction_status"><%= summary.state %></td>
                                    <td id="<%= summary.id %>_links" class="row_button no_buttons_2">
                                        <% unless summary.reconciled? %>
                                            <%= row_reconcile_link(summary, 'show') %>
                                            <%= row_unreconcile_link(summary, 'hidden') %>
                                        <% else %>
                                            <%= row_reconcile_link(summary, 'hidden') %> 
                                            <%= row_unreconcile_link(summary, 'show') %> 
                                        <% end %>

	                                    <% if summary.expend_id? %>
											<%= link_to '', expend_path(summary.expend_id), class: 'line_show_icon_show' , title: "show details" %>
	                                    <% end %>
	                                    <% if summary.payment_id? %>
											<%= link_to '', payment_path(summary.payment_id), class: 'line_show_icon_show' , title: "show details" %>
	                                    <% end %>
	                                    <% if summary.transfer_id? %>
											<%= link_to '', transfer_path(summary.transfer_id), class: 'line_show_icon_show' , title: "show details" %>	
	                                    <% end %>
                                    </td>

                               <tr>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>