<div class="row title_band">
    <div class="page_title">
        <h1>Transaction Summary</h1>
    </div>
</div>

<div class="row">
    <div class="col-1-1 column_1">
        <div class="border">
            <div class="row">

                <table>
                    <thead>
                        <tr>
                            <th class="transaction_date">Date</th>
                            <th class="transaction_item">Item</th>
                            <th class="transaction_account">Account</th>
                            <th class="transaction_type">Type</th>
                            <th class="transaction_income">Income</th>
                            <th class="transaction_expend">Expenditure</th>
                            <th class="transaction_balance">Balance</th>
                            <th class="transaction_status">Status</th>
                            <th class="row_button no_buttons_1"></th>
                        </tr>
                    </thead>
                </table>
                <table>
                    <tbody>
                        <% if @transactions_ordered %>
                            <% @transactions_ordered.each do |tranaction| %>
                                <tr>                            
                                    <td class="transaction_date"><%= transaction.date %></td>
                                    <td class="transaction_ref"><%= transaction.ref %></td>
                                    <td class="transaction_account"><%= transaction.account_name %></td>           
                                    <td class="transaction_type"><%= transaction.type %></td>
                                    <td class="transaction_income"><%= transaction.amount_in %></td>
                                    <td class="transaction_expend"><%= transaction.amount_out %></td>
                                    <td class="transaction_balance"><%= transaction.amount_balance %></td>
									<td class="transaction_status"><%= transaction.status %></td>
                                    <td id="<%= transaction.id %>_links" class="row_button no_buttons_1">
                                        <% if transaction.expend_id != nil %>
                                        	
                                        <% end %>
                                        <% if transaction.expend_id != nil %>
                                        	
                                        <% end %>
                                    </td>
                               <tr>                            
                            <% end %>
                    </tbody>
                </table>
   
            </div>
        </div>
    </div>

</div>