<div class="content">
    <div class="column_1">
        <div class="column_content">
        
            <% if @businessexpense.errors.any? %>
            <div class="column_error">
            <p><%= pluralize(@businessexpense.errors.count, "error") %> prohibited this businessexpense from being created</p>
                  <ul>
                  <% @businessexpense.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
            </div>
            <% end %>
            
            <div class="column_sub_content">
                <div class="column_form">
                <%= form_for(@businessexpense) do |f| %>
                    <%= f.hidden_field :company_id, :value => current_user.company_id %>
                    <%= f.hidden_field :user_id, :value => current_user.id %>
                    <%= f.hidden_field :exp_type, :value => "business" %>
                    <%= f.hidden_field :status, :value => "submitted" %>    
                    
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:90px">Job Ref*:</label>                        
                        <% if @projects %>
                            <div class="column_form_input"><%= f.collection_select(:project_id, @projects, :id, :name, {:selected => @businessexpense.project_id, :prompt => :true}, :class => "full_width")%></div>
                            <div class="column_help_tooltip" id="businessexpense_project"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:90px"></label>                        
                        <% end %>
                            <div class="column_form_button"><%= link_to "create new job", new_project_path %></div>  
                        </div>
                        
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:90px">Supplier*:</label>                        
                        <% if @suppliers %>
                            <div class="column_form_input"><%= f.collection_select(:supplier_id, @suppliers, :id, :company_name, {:selected => @businessexpense.supplier_id, :prompt => :true}, :class => "full_width")%></div>
                            <div class="column_help_tooltip" id="businessexpense_supplier"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:90px"></label>                        
                        <% end %>
                            <div class="column_form_button"><%= link_to "add new supplier", new_supplier_path %></div>  
                        </div>
                        
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:90px">Expense Type*:</label>                        
                            <div class="column_form_input"><%= f.collection_select(:hmrcexpcat_id, @hmrcexpcats, :id, :category, {:selected => @businessexpense.hmrcexpcat_id, :prompt => :true}, :class => "full_width")%></div>
                            <div class="column_help_tooltip" id="businessexpense_hmrcexpcat"></div>  
                        </div>
                        
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:90px">Reference:</label>                        
                            <div class="column_form_input"><%= f.text_field :ref %></div>
                            <div class="column_help_tooltip" id="businessexpense_reference"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:90px">Supplier Ref:</label>                        
                            <div class="column_form_input"><%= f.text_field :supplier_ref %></div>
                            <div class="column_help_tooltip" id="businessexpense_supplier_ref"></div>  
                        </div>

                        <div class="column_form_item">
                            <label class="column_form_label" style="width:90px">Bill Image:</label>                        
                        <% if @businessexpense.receipt? %>
                            <div class="column_form_input"><%= image_tag(@businessexpense.receipt_url, {:height => "50px"}) %></div>
                            <div class="column_help_tooltip" id="businessexpense_receipt"></div>  
                        </div>                        
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:90px"></label>                                                 
                        <% end %>  
                            <div class="column_form_input"><%= f.file_field :receipt %></div>
                            <div class="column_help_tooltip" id="businessexpense_receipt"></div>  
                        </div>

                        <div class="column_form_item">
                            <label class="column_form_label" style="width:90px">Total Amount*:</label>                        
                            <div class="column_form_input"><%= f.text_field :amount, :placeholder => "0.00"  %></div>
                            <div class="column_help_tooltip" id="businessexpense_amount"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:90px">VAT Payable*:</label>                        
                            <div class="column_form_input"><%= f.text_field :vat, :placeholder => "0.00"  %></div>
                            <div class="column_help_tooltip" id="businessexpense_vat"></div>  
                        </div>

                        <div class="column_form_item">
                            <label class="column_form_label" style="width:90px">Inovice Date*:</label>                        
                            <div class="column_form_input"><%= f.date_field :date, :value => Time.now.strftime('%Y-%m-%d') %></div>
                            <div class="column_help_tooltip" id="businessexpense_issue_date"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:90px">Payment Due:</label>                        
                            <div class="column_form_input"><%= f.date_field :due_date %></div>
                            <div class="column_help_tooltip" id="businessexpense_due_date"></div>  
                        </div>

                </div>
           </div>     
                
           <div class="column_footer">
                <div class="column_line"></div>

                <div class="column_submit"><%= f.submit "save"%></div>
                <div class="column_cancel"><%= link_to "cancel", business_path %></div>
                <% end %>
           </div>
            
        </div>
    </div>
    <div class="column_2 column_2_blank"></div> 
    <div class="column_3 column_3_blank"></div> 
</div>
