<div class="page_title">
    <h1>Employee Expenses</h1>
</div>

<div class="filter_band_single">
    <%= form_tag employee_path, method: :get do %>
    <div class="filter_search">
        <div class="filter_project_label">Employee:</div>
        <div class="filter_project_input">
            <%= select_tag 'employee_id', options_from_collection_for_select(@employees, :id, :name, @employee), :prompt => 'all employees'%>    
        </div>
        <div class="filter_date_1_label">From:</div>
        <div class="filter_date_1_input">
            <%= date_field_tag 'date_from', value = @date_from %>    
        </div>
        <div class="filter_date_2_label">To:</div>
        <div class="filter_date_2_input">
            <%= date_field_tag 'date_to', value = @date_to  %>      
        </div>
        <div class="filter_submit">
            <%= submit_tag 'Filter', :class => "filter_submit_button"%>    
        </div>        
    </div>
    <% end %>
</div>  


 <div class="table_content_with_filter">
    <table>
      <thead>
        <tr>
          <th class="mob_cell">Due Date</th>
          <th class="tab_cell">Job</th>
          <th class="lrg_cell">Category</th> 
          <th class="lrg_cell">Reference</th>
          <th class="mob_cell">Supplier</th>
          <th class="lrg_cell">Supplier Ref</th>         
          <th class="lrg_cell">Issue Date</th>          
          <th width="20px" class="row_button">Bill Image</th>
          <th class="mob_cell">Distance</th>
          <th class="lrg_cell">VAT</th>
          <th class="mob_cell">Amount</th>
          <th class="lrg_cell">Status</th>
          <th width="20px" class="row_button"></th>
          <th width="20px" class="row_button"></th>
        </tr>
      </thead>
    </table>
    <div class="table_container">
        <table>
          <tbody>
            <% @employeeexpenses.each do |employeeexpense| %>
              <tr id="<%= employeeexpense.id %>">
                <td class="mob_cell"><%= employeeexpense.due_date %></td>
                <td class="tab_cell"><%= employeeexpense.project.ref %></td>
                <td class="lrg_cell"><%= employeeexpense.hmrcexpcat.category %></td>
                <% if employeeexpense.hmrcexpcat.category == "mileage" %>                
                    <td class="lrg_cell"></td>
                    <td class="mob_cell"></td>
                    <td class="lrg_cell"></td>
                    <td class="lrg_cell"><%= employeeexpense.date.strftime("%d/%m/%y") %></td>
                    <td class="lrg_cell"></td>
                    <td class="lrg_cell"></td>
                    <td class="mob_cell"><%= employeeexpense.mileage.distance %></td>
                    <td class="mob_cell"><%= pounds(employeeexpense.amount) %></td>
                    <td id="<%= employeeexpense.id %>_status" class="lrg_cell"><%= employeeexpense.status %></td>
                    <% if !employeeexpense.rejected? %>
                        <td width="20px" class="row_button"><%= link_to "", reject_employee_expense_path(employeeexpense), class: 'line_reject_icon', title: "mark as rejected" %></td>                
                    <% end %>
                    <% if !employeeexpense.accepted? %>
                        <td width="20px" class="row_button"><%= link_to "", accept_employee_expense_path(employeeexpense), class: 'line_accept_icon', title: "mark for payment" %></td>
                    <% end %>
                    <td width="20px" class="row_button"><%= link_to "", show_employee_expense_path(employeeexpense), class: 'line_edit_icon', title: "edit expenses record" %></td>
                 <% else %>
                    <td class="lrg_cell"><%= employeeexpense.ref %></td>
                    <td class="mob_cell"><%= employeeexpense.supplier.name %></td>
                    <td class="lrg_cell"><%= employeeexpense.supplier_ref %></td>
                    <td class="lrg_cell"><%= employeeexpense.date.strftime("%d/%m/%y") %></td>                    
                    <td class="lrg_cell">
                        <% if employeeexpense.receipt %>
                            Yes
                        <% end %>
                    </td>
                    <td class="mob_cell"></td>
                    <td class="lrg_cell"><%= pounds(employeeexpense.vat) %></td>
                    <td class="mob_cell"><%= pounds(employeeexpense.amount) %></td>
                    <td  id="<%= employeeexpense.id %>_status" class="lrg_cell"><%= employeeexpense.status %></td>
                    <% if !employeeexpense.rejected? %>
                        <td id="<%= employeeexpense.id %>_reject_button" width="20px" class="row_button"><%= link_to "", reject_expense_path(employeeexpense), {remote: true, class: 'line_reject_icon', title: "mark as rejected"} %></td>                
                    <% end %>
                    <% if !employeeexpense.accepted? %>
                        <td id="<%= employeeexpense.id %>_accept_button"  width="20px" class="row_button"><%= link_to "", accept_expense_path(employeeexpense), {remote: true, class: 'line_accept_icon', title: "mark for payment"} %></td>
                    <% end %>
                    <td width="20px" class="row_button"><%= link_to "", expense_path(employeeexpense), class: 'line_show_icon', title: "show expense details" %></td>
                <% end %>              
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>
