<div class="page_title">
    <h1>Employee Expenses</h1>
</div>

<div class="filter_band_single">
    <%= form_tag employee_path, method: :get do %>
    <div class="filter_search">
        <div class="filter_project_label">Employee:</div>
        <div class="filter_project_input">
            <%= select_tag 'user_id', options_from_collection_for_select(@users, :id, :name, @user), :prompt => 'all employees'%>    
        </div>
        <div class="filter_date_1_label">From:</div>
        <div class="filter_date_1_input">
            <%= date_field_tag 'date_from', value = @date_from %>    
        </div>
        <div class="filter_date_2_label">To:</div>
        <div class="filter_date_2_input">
            <%= date_field_tag 'date_to', value = @date_to  %>      
        </div>
        <div class="filter_submit">
            <%= submit_tag 'Filter', :class => "filter_submit_button"%>    
        </div>        
    </div>
    <% end %>
    <div class="option_band_submit"><%= submit_tag 'pdf', :class => "options_pdf_icon"%></div> 
</div>  


 <div class="table_content_with_filter">
    <table>
      <thead>
        <tr>
          <th class="employee_name">Employee</th>
          <th class="employee_due_date">Due Date</th>
          <th class="employee_job">Job</th>
          <th class="employee_category">Category</th> 
          <th class="employee_ref">Reference</th>
          <th class="employee_supplier">Supplier</th>
          <th class="employee_supplier_ref">Supplier Ref</th>         
          <th class="employee_issue_date">Issue Date</th>          
          <th width="20px" class="row_button">Bill Image</th>
          <th class="employee_distance">Distance</th>
          <th class="employee_price">Price</br><span class="vat_note">(ex VAT)</span></th>
          <th class="employee_vat_due">Vat</th>
          <th class="employee_total">Total</br><span class="vat_note">(Inc VAT)</span></th>
          <th class="employee_status">Status</th>
          <th width="100px" class="row_button"></th>
        </tr>
      </thead>
    </table>
    <div class="table_container">
        <table>
          <tbody>
            <% @employeeexpenses.each do |employeeexpense| %>
              <tr id="<%= employeeexpense.id %>">
                <td class="employee_employee"><%= employeeexpense.user.name %></td>
                <td class="employee_due_date"><%= employeeexpense.due_date.strftime("%d/%m/%y") %></td>
                <td class="employee_job"><%= employeeexpense.project.ref %></td>
                <td class="employee_category"><%= employeeexpense.hmrcexpcat.category %></td>
                <% if employeeexpense.hmrcexpcat_id == 1 %>                
                    <td class="employee_ref"></td>
                    <td class="employee_supplier"></td>
                    <td class="employee_supplier_ref"></td>
                    <td class="employee_issue_date"><%= employeeexpense.date.strftime("%d/%m/%y") %></td>
                    <td width="20px" class="row_button"></td>
                    <td class="employee_distance"><%= employeeexpense.mileage.distance %></td>                
                 <% else %>
                    <td class="employee_ref"><%= employeeexpense.ref %></td>
                    <td class="employee_supplier"><%= employeeexpense.supplier.name %></td>
                    <td class="employee_supplier_ref"><%= employeeexpense.supplier_ref %></td>
                    <td class="employee_issue_date"><%= employeeexpense.date.strftime("%d/%m/%y") %></td>                    
                    <td width="20px" class="row_button">
                        <%= "Yes".html_safe if employeeexpense.receipt? %>
                    </td>
                    <td class="employee_distance"></td>
                 <% end %>    
                    <td class="employee_price"><%= pounds(employeeexpense.price) %></td>
                    <td class="employee_vat_due"><%= pounds(employeeexpense.vat) %></td>
                    <td class="employee_total"><%= pounds(employeeexpense.total) %></td>
                    <td  id="<%= employeeexpense.id %>_status" class="employee_status"><%= employeeexpense.status %></td>
                    <td id="<%= employeeexpense.id %>_links"  width="100px" class="row_button">
                        
                        <% if employeeexpense.submitted? || employeeexpense.rejected? %>
                            <%= row_accept_link(employeeexpense, 'show') %>
                        <% else %>
                            <%= row_accept_link(employeeexpense, 'hidden') %> 
                        <% end %>                                
         
                        <% if employeeexpense.submitted? || employeeexpense.accepted? %>
                            <%= row_reject_link(employeeexpense, 'show') %>                 
                        <% else %>
                            <%= row_reject_link(employeeexpense, 'hidden') %>                 
                        <% end %> 
                    
                        <% if employeeexpense.accepted? %>
                            <%= link_to "", new_personal_expend_path(:expense_id => employeeexpense.id), class: 'line_payment_icon_show', title: "record payment" %>                
                        <% else %>
                            <%= link_to "", new_personal_expend_path(:expense_id => employeeexpense.id), class: 'line_payment_icon_hidden', title: "record payment" %>                 
                        <% end %>        
        
                        <%= row_show_link(employeeexpense, 'show') %> 
    
                    </td>                             
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>
