<div class="row">
    <div class="col-1-3 column_1">
        <div class="border">

<!-- error messages - associated with form start--> 
            <%= render :partial => "form_error", :locals => {:item => @miscincome} %>

<!-- form column start-->
            <div class="row">
                <%= form_for @miscincome do |f| %>
                    <%= f.hidden_field :company_id, :value => current_user.company_id %>
                    <%= f.hidden_field :user_id, :value => current_user.id %>
                    <fieldset>

                        <!-- form input[select -->
                        <div class="form_tooltip" id="miscincome_project"></div>
                        <label class="label_100">Job Reference:*</label>
                        <% if @projects %>
                            <span>
                                <%= f.collection_select(:project_id, @projects, :id, :name, {:selected => @miscincome.project_id, :prompt => :true})%>
                            </span></br>
    
                            <!-- link button -->
                            <label class="label_100"></label>
                        <% end %>
                        <span>
                            <%= link_to "add new project", new_project_path, class: "form_button" %>
                        </span></br>
                        
                        <!-- form input[select -->
                        <div class="form_tooltip" id="miscincome_customer"></div>
                        <label class="label_100">Customer:*</label>
                        <% if @customers %>
                            <span>
                                <%= f.collection_select(:customer_id, @customers, :id, :company_name, {:selected => @miscincome.customer_id, :prompt => :true})%>
                            </span></br>
    
                            <!-- link button -->
                            <label class="label_100"></label>
                        <% end %>
                        <span>
                            <%= link_to "add new customer", new_customer_path, class: "form_button" %>
                        </span></br>

                        <!-- form input[text] -->
                        <div class="form_tooltip" id="miscincome_reference"></div>
                        <label class="label_100">Reference:</label>
                        <span>
                            <%= f.text_field :ref %>
                        </span></br>

                        <!-- form input[text] -->
                        <div class="form_tooltip" id="miscincome_customer_ref"></div>
                        <label class="label_100">Customer Ref:</label>
                        <span>
                            <%= f.text_field :customer_ref %>
                        </span></br>
                        
                        <!-- form input[text] -->
                        <div class="form_tooltip" id="miscincome_price"></div>
                        <label class="label_100">Total (ex VAT):*</label>
                        <span>
                            <%= f.text_field :price, {:placeholder => "0.00", :value => number_with_precision(f.object.price, :precision => 2)} %>
                        </span></br>

                        <!-- form input[text] -->
                        <div class="form_tooltip" id="miscincome_vat"></div>
                        <label class="label_100">VAT Paid:*</label>
                        <span>
                            <%= f.text_field :vat, {:placeholder => "0.00", :value => number_with_precision(f.object.vat, :precision => 2)} %>
                        </span></br>
                        
                        <!-- form input[text] -->
                        <div class="form_tooltip" id="miscincome_total"></div>
                        <label class="label_100">Total (inc VAT):*</label>
                        <span>
                            <%= f.text_field :total, {:placeholder => "0.00", :value => number_with_precision(f.object.total, :precision => 2)} %>
                        </span></br>

                        <!-- form input[text] -->
                        <div class="form_tooltip" id="miscincome_issue_date"></div>
                        <label class="label_100">Date:*</label>
                        <span>
                            <%= f.date_field :date %>
                        </span></br>

                        <!-- form input[text] -->
                        <div class="form_tooltip" id="customer_notes"></div>
                        <label class="label_80">Notes:</label>
                        <span>
                            <%= f.text_area :note, {rows: 10, maxlength: 500, class: "maxlength"} %>
                            <p class="input_note">Maximum of 500 characters</p>
                        </span></br>

                    </fieldset>
            </div>
<!-- column footer start--> 
            <div class="row">
                <div class="form_footer">
                    <%= f.submit "save"%>
                    <%= link_to "cancel", miscincomes_path %>
                </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-1-3 column_2">
        <div class="border blank_column"></div>
    </div>
    <div class="col-1-3 column_3">
        <div class="border blank_column"></div>
    </div>
</div>
