<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @miscpayment.company_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @miscpayment.user_id %>
</p>

<p>
  <strong>Exp type:</strong>
  <%= @miscpayment.exp_type %>
</p>

<p>
  <strong>Ref:</strong>
  <%= @miscpayment.ref %>
</p>

<p>
  <strong>Project:</strong>
  <%= @miscpayment.project_id %>
</p>

<p>
  <strong>Hmrcexpcat:</strong>
  <%= @miscpayment.hmrcexpcat_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @miscpayment.date %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @miscpayment.due_date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @miscpayment.price %>
</p>

<p>
  <strong>Vat:</strong>
  <%= @miscpayment.vat %>
</p>

<p>
  <strong>Total:</strong>
  <%= @miscpayment.total %>
</p>

<p>
  <strong>Item:</strong>
  <%= @miscpayment.item %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @miscpayment.provider_id %>
</p>

<p>
  <strong>Provider ref:</strong>
  <%= @miscpayment.provider_ref %>
</p>

<p>
  <strong>Receipt:</strong>
  <%= @miscpayment.receipt %>
</p>

<p>
  <strong>Note:</strong>
  <%= @miscpayment.note %>
</p>

<p>
  <strong>State:</strong>
  <%= @miscpayment.state %>
</p>

<%= link_to 'Edit', edit_miscpayment_path(@miscpayment) %> |
<%= link_to 'Back', miscpayments_path %>
