<div class="row title_band">
    <div class="page_title">
        <h1>Donors</h1>
    </div>
    <div class="title_help" id="donors_index"></div>       
    <div><%= link_to "+ donor", new_donor_path, class: "title_button" %></div>
</div>

<div class="row">

    <div class="col-1-1 column_1">
        <div class="border">

            <%= render :partial => "flash_notice" %>

            <div class="row">

                <table>
                    <thead>
                        <tr>
                            <th class="donor_name">Name</th>
                            <th class="donor_house">House</th>
                            <th class="donor_postcode">Postcode</th>
                            <th class="row_button no_buttons_3">
                                <% if @donors %>
                                    <%= link_to "", print_donor_path(current_user.company_id), class: 'table_pdf_icon', title: "download pdf" %>
                                <% end %>
                            </th>
                        </tr>
                    </thead>
                </table>

                <table>
                    <tbody>
                        <% if @donors %>
                            <% @donors.each do |donor| %>
                                <tr>
                                    <td class="donor_name"><%= donor.name %></td>
                                    <td class="donor_house"><%= donor.house %></td>
                                    <td class="donor_postcode"><%= donor.postcode %></td>
                                    <td class="row_button no_buttons_3">
                                        <% unless donor_in_use(donor) %>
                                            <%= row_delete_link(donor, 'show') %>
                                        <% end %>
                                        <%= row_edit_link(donor, 'show') %>
                                        <%= row_show_link(donor, 'show') %>                                        
                                    </td>
                                </tr>
                            <% end %>  
                        <% end %>
                    </tbody>
                </table>
   
            </div>
        </div>
    </div>

</div>