<div class="page_title">
    <h1>Expense Payment Details</h1>
</div>

<div class="content">
    <div class="column_1">
        <div class="column_content">
            
            <% if @expend.errors.any? %>
            <div class="column_error">
            <p><%= pluralize(@expend.errors.count, "error") %> prohibited this project from being created</p>
                  <ul>
                  <% @expend.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
            </div>
            <% end %>
            
            <div class="column_sub_content">
                <div class="column_form">
                <%= form_for(@expend) do |f| %>

                        <div class="column_info_item">
                            <label class="column_info_label" style="width:120px">Reference:</label>                        
                            <div class="column_info_text"><%= @expend.ref %></div>
                        </div>
                        <div class="column_info_item">
                            <label class="column_info_label" style="width:120px">Employee:</label>                        
                            <div class="column_info_text"><%= @expend.user.name if @expend.user_id?  %></div>
                        </div>
                        <div class="column_info_item">
                            <label class="column_info_label" style="width:120px">Supplier:</label>                        
                            <div class="column_info_text"><%= @expend.expense.supplier.company_name if @expend.expense_id? %></div>
                        </div>
                        <div class="column_info_item">
                            <label class="column_info_label" style="width:120px">Supplier Ref:</label>                        
                            <div class="column_info_text"><%= @expend.expense.supplier_ref if @expend.expense_id?  %></div>
                        </div>
                        <div class="column_info_item">
                            <label class="column_info_label" style="width:120px">Total (ex VAT):</label>                        
                            <div class="column_info_text"><%= pounds(@expend.price) %></div>
                        </div>
                        <div class="column_info_item">
                            <label class="column_info_label" style="width:120px">VAT:</label>                        
                            <div class="column_info_text"><%= pounds(@expend.vat) %></div>
                        </div>
                        <div class="column_info_item">
                            <label class="column_info_label" style="width:120px">Total (inc VAT):</label>                        
                            <div class="column_info_text"><%= pounds(@expend.total) %></div>
                        </div>

                    
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:120px">Reference:*</label>                        
                            <div class="column_form_input"><%= f.text_field :ref %></div>
                            <div class="column_help_tooltip" id="project_ref"></div> 
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:120px">Payment Method*:</label>                        
                            <div class="column_form_input"><%= f.collection_select(:paymethod_id, Mjbook::Paymethod.all, :id, :text, {:value => @expend.paymethod_id, :prompt => :true}, :class => "full_width")%></div>
                            <div class="column_help_tooltip" id="project_invoicemethod"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:120px">Account*:</label>                        
                            <div class="column_form_input"><%= f.collection_select(:companyaccount_id, @companyaccounts, :id, :name, {:value => @expend.companyaccount_id, :prompt => :true}, :class => "full_width")%></div>
                            <div class="column_help_tooltip" id="project_invoicemethod"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:120px">Notes:</label>                        
                            <div class="column_form_input"><%= f.text_area :note %></div>
                            <div class="column_help_tooltip" id="quote_date"></div>  
                        </div>
               </div>
           </div>     
                
           <div class="column_footer">
                <div class="column_line"></div>

                <div class="column_submit"><%= f.submit "save"%></div>
                <div class="column_cancel"><%= link_to "cancel", expends_path %></div>
                <% end %>

           </div>
            
        </div>
    </div>
    <div class="column_2 column_2_blank"></div> 
    <div class="column_3 column_3_blank"></div> 
</div>
