<div class="row title_band">
    <div class="page_title">
        <h1>Expenditure</h1>
    </div>
</div>

<div class="row filter_band">
    <%= form_tag expends_path, method: :get do %>  
        <div>
            <div>
                <label class="select">Account:</label>
                <%= select_tag 'companyaccount_id', options_from_collection_for_select(@companyaccounts, :id, :name, @companyaccount), :prompt => 'all accounts'%>
            </div>
            <div>
                <label class="date">Date From:</label>
                <%= date_field_tag( 'date_from', value = @date_from, {placeholder: 'dd/mm/yyyy'}) %>    
                <label class="date">Date To:</label>
                <%= date_field_tag( 'date_to', value = @date_to, {placeholder: 'dd/mm/yyyy'}) %>
            </div>                                    
            <%= submit_tag 'Filter' %>     
        </div>        
        <div class="float_right">   
            <div><%= submit_tag 'pdf', :class => "options_pdf_icon"%></div>
        </div>  
    <% end %> 
</div>


<div class="row">

    <div class="col-1-1 column_1">
        <div class="border">

            <%= render :partial => "flash_notice" %>

            <div class="row">

                <table>
                    <thead>
                        <tr>
                            <th class="expend_ref">Ref</th>
                            <th class="expend_exp_type">Exp Type</th>
                            <th class="expend_paid">Paid to</th>
                            <th class="expend_method">Payment Method</th>
                            <th class="expend_account">Account</th>
                            <th class="expend_receipt">Receipt</th>
                            <th class="expend_date">Date</th>
                            <th class="expend_price">Price</br><span>(ex VAT)</span></th>
                            <th class="expend_vat">Vat</th>
                            <th class="expend_total">Total</br><span>(Inc VAT)</span></th>
                            <th class="expend_status">Status</th>
                            <th class="expend_note">Note</th>
                            <th class="row_button no_buttons_3"></th>
                        </tr>
                    </thead>
                </table>

                <table>
                    <tbody>
                        <% if @expends %>            
                            <% @expends.each do |expend| %>
                                <tr>
                                    <td class="expend_ref"><%= expend.ref %></td>
                                    <td class="expend_exp_type"><%= expend.exp_type.titleize %></td>
                                    <% if expend.personal? %>
                                        <td class="expend_paid"><%= expend.user.name.titleize if expend.user_id? %></td>
                                    <% end %>
                                    <% if expend.business? %>
                                        <td class="expend_paid"><%= expend_expenses(expend.id) %></td>                
                                    <% end %>
                                    <% if expend.salary? %>
                                        <td class="expend_paid"><%= expend.user.name.titleize if expend.user_id? %></td>
                                    <% end %>
                                    <td class="expend_method"><%= expend.paymethod.text.titleize %></td>
                                    <td class="expend_account"><%= expend.companyaccount.name.titleize %></td>
                                    <td class="expend_receipt"><%= expend.expend_receipt %></td>
                                    <td class="expend_date"><%= expend.date.strftime("%d/%m/%y") %></td>
                                    <td class="expend_price"><%= pounds(expend.price) %></td>
                                    <td class="expend_vat"><%= pounds(expend.vat) %></td>
                                    <td class="expend_total"><%= pounds(expend.total) %></td>
                                    <td id="<%= expend.id %>_status" class="expend_status"><%= expend.state %></td>
                                    <td class="expend_note"><%= expend.note %></td>
                                    <td id="<%= expend.id %>_links" class="row_button no_buttons_3">
                                        <% if expend.reconciled? %>
                                            <%= row_delete_link(expend, 'hidden') %>
                                            <%= row_edit_link(expend, 'hidden') %>
                                            <%= row_reconcile_link(expend, 'hidden') %> 
                                            <%= row_unreconcile_link(expend, 'show') %> 
                                        <% else %>
                                            <%= row_delete_link(expend, 'show') %>
                                            <%= row_edit_link(expend, 'show') %>
                                            <%= row_reconcile_link(expend, 'show') %> 
                                            <%= row_unreconcile_link(expend, 'hidden') %>
                                        <% end %>               
                                    </td)
                                </tr>
                            <% end %>  
                        <% end %>
                    </tbody>
                </table>
   
            </div>
        </div>
    </div>

</div>
