<div class="page_title">
    <h1>Employee Expenses to be Paid</h1>
</div>

<div class="content">
    <div class="column_1">
        <div class="column_content">
                        
            <div class="column_sub_content">
                <div class="column_form">
                <%= form_for(@expend) do |f| %>
                    <%= f.hidden_field :company_id, :value => current_user.company_id %>                       
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:100px">Customer*:</label>                        
                            <div class="column_form_input"><%= f.collection_select(:user_id, @users, :id, :name, {:selected => @user_id, :prompt => :true}, :class => "full_width")%></div>
                            <div class="column_help_tooltip" id="project_customer"></div>  
                        </div>
                </div>
           </div>     
                
           <div class="column_footer">
                <div class="column_line"></div>

                <div class="column_submit"><%= f.submit "save"%></div>
                <div class="column_cancel"><%= link_to "cancel", business_path %></div>
                <% end %>

           </div>
            
        </div>
    </div>
    <div class="column_2 column_2_blank"></div> 
    <div class="column_3 column_3_blank"></div> 
</div>