<div class="row title_band">
    <div class="page_title">
        <h1>Expenditure Details</h1>
    </div>
    <div class="title_help" id="expend_show"></div>
    <div><%= link_to "back", expends_path, class: "title_button" %> </div>
</div>

<div class="row info_band">
    <div class="info_right">
        <div><h3>Total: <%= pounds(@expend.total) %></h3></div>
    </div>
    <div class="info_left">
        <div><h3>Payment Ref: <%= @expend.ref if @expend.ref %></h3></div>
        <div><h3>Date: <%= @expend.date.strftime("%d/%m/%y") %></h3></div>
        <div><h3>Status: <%= @expend.state %></h3></div>
    </div>
</div>


<div class="row">

    <div class="col-1-1 column_1">
        <div class="border">

            <%= render :partial => "flash_notice" %>

            <div class="row">

                <table>
                    <thead>
                        <tr>
                            <th class='expend_ref'>Item No.</th>
                            <th class='expend_category'>Reference</th>
                            <th class='expend_item'>Supplier</th>
                            <th class='expend_quantity'>Date</th>
                            <th class='expend_price'>Price</th>
                            <th class='expend_vat_due'>VAT</th>
                            <th class='expend_total'>Total</th>
                            <th class="row_button no_buttons_1"></th>
                        </tr>
                    </thead>
                </table>

                <table>
                    <tbody>

                            <% @expenditems.each_with_index do |item, i| %>
                                <tr>
                                    <td class='expend_ref'><%= (i + 1) %></td>
                                    <td class='expend_category'><%= item.expense.ref %></td>
                                    <td class='expend_item'><%= item.expense.project.supplier.company_name %></td>
                                    <td class='expend_date'><%= item.expense.date.strftime("%d/%m/%y") %></td>
                                    <td class='expend_price'><%= pounds(item.expense.price) %></td>
                                    <td class='expend_vat_due'><%= pounds(item.expense.vat) %></td>
                                    <td class='expend_total'><%= pounds(item.expense.total) %></td>
                                    <td id="<%= item.id %>_links" class="row_button no_buttons_1">
                                        <% if @expend.reconciled? %>
                                            <%= expenditem_journal_entry(item) %>
                                        <% end %>
                                    </td>
                                </tr>
                            <% end %>

                    </tbody>
                </table>


            </div>
        </div>
    </div>

</div>


