<div class="row title_band">
    <div class="page_title">
        <h1>Adjustments (Journal Entries)</h1>
    </div>
    <div class="title_help" id="journals_index"></div>
</div>

<% if @check_journal_exist %>
	<div class="row filter_band">
	    <%= form_tag journals_path, method: :get do %>
	        <div>
	            <div>
	                <label class="select">Transaction:</label>
	                <%= select_tag 'transaction_type', options_for_select(@transaction_types, @selected_transaction_type) %>
	            </div>
	            <div>
	                <label class="select">Period:</label>
	                <%= select_tag 'period_id', options_from_collection_for_select(@periods, :id, :period, @period.id) %>
	            </div>
	            <%= submit_tag 'Filter'%>
	        </div>
	
	        <div class="float_right">
	            <div><%= submit_tag 'pdf', :class => "table_pdf_icon"%></div>
	            <div><%= submit_tag 'csv', :class => "table_csv_icon"%></div>
	        </div>
	
	    <% end %>
	</div>
<% end %>


<div class="row">

    <div class="col-1-1 column_1">
        <div class="border">

            <%= render :partial => "flash_notice" %>

            <div class="row">

                <table>
                  <thead>
                    <tr>
                      <th class="journal_item_ref">Ref</th>
                      <th class="journal_item_date">Date</th>
                      <th class="journal_item_inv_ref">Inv. Ref</th>
                      <th class="journal_item_inv_ref">Misc. Income Ref</th>
                      <th class="journal_item_inv_ref">Expenditure Ref</th>
                      <th class="journal_item_total">Item Amount</th>

                      <th class="journal_adjustment">Adjustment</th>
                      <th class="journal_period">Allocated from</th>
                      <th class="journal_period">Allocated to</th>
                      <th class="journal_note">Notes</th>
                      <th class="row_button no_buttons_3"></th>
                    </tr>
                  </thead>
                
                  <tbody>

                    <% @journals.each do |journal| %>
                      <tr>

                        <% if journal.paymentitem_id? %>
                            <td class="journal_item_ref"><%= journal.paymentitem.payment.ref %></td>
                            <td class="journal_item_date"><%= journal.paymentitem.payment.date.strftime("%d/%m/%y") %></td>

                            <% if journal.paymentitem.inline_id? %>
                                <td class="journal_item_inv_ref"><%= journal.paymentitem.inline.invoice.ref %></td>
                                <td class="journal_item_inv_ref"></td>
                                <td class="journal_item_inv_ref"></td>
                                <td class="journal_item_total"><%= pounds(journal.paymentitem.inline.total) %></td>
                            <% end %>

                            <% if journal.paymentitem.miscincome_id? %>
                                <td class="journal_item_inv_ref"></td>
                                <td class="journal_item_inv_ref"><%= journal.paymentitem.miscincome.ref %></td>
                                <td class="journal_item_inv_ref"></td>
                                <td class="journal_item_total"><%= pounds(journal.paymentitem.miscincome.total) %></td>
                            <% end %>
                        <% end %>


                        <% if journal.expenditem_id? %>
                            <td class="journal_item_ref"><%= journal.expenditem.expend.ref %></td>
                            <td class="journal_item_date"><%= journal.expenditem.payment.date.strftime("%d/%m/%y") %></td>

                            <% if journal.expenditem.inline_id? %>
                                <td class="journal_item_inv_ref"></td>
                                <td class="journal_item_inv_ref"></td>
                                <td class="journal_item_inv_ref"><%= journal.expenditem.inline.expense.ref %></td>
                                <td class="journal_item_total"><%= pounds(journal.expenditem.expense.total) %></td>
                            <% end %>
                        <% end %>


                        <td><%= pounds(journal.adjustment) %></td>

                        <% if journal.paymentitem_id? %>
                            <td class="journal_period" ><%= original_payment_period(journal.paymentitem_id) %></td>
                        <% else %>
                            <td class="journal_period" ><%= original_expend_period(journal.expenditem_id) %></td>
                        <% end %>

                        <td class="journal_period" ><%= journal.period.period %></td>
                        <td class="journal_note" ><%= journal.note %></td>
                        <td class="row_button no_buttons_3">
                            <%= row_delete_link(journal, 'show') %>
                            <%= row_edit_link(journal, 'show') %>
                            <%= row_show_link(journal, 'show') %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>

            </div>
        </div>
    </div>

</div>