<div class="page_title">
    <h1>personal Expenses</h1>
</div>

 <div class="table_content_with_title">
    <table>
      <thead>
        <tr>
          <th class="mob_cell">Due Date</th>
          <th class="tab_cell">Job</th>
          <th class="lrg_cell">Category</th> 
          <th class="lrg_cell">Reference</th>
          <th class="mob_cell">Supplier</th>
          <th class="lrg_cell">Supplier Ref</th>         
          <th class="lrg_cell">Issue Date</th>          
          <th class="lrg_cell">Bill Image</th>
          <th class="mob_cell">Distance</th>
          <th class="lrg_cell">VAT</th>
          <th class="mob_cell">Amount</th>
          <th class="lrg_cell">Status</th>
          <th width="20px" class="row_button"><%= link_to "", new_personalexpense_path, class: 'table_expense_icon', title: "add new expense recored" %></th>
          <th width="20px" class="row_button"><%= link_to "", new_mileage_path, class: 'table_mileage_icon', title: "add new mileage recored" %></th>
        </tr>
      </thead>
    </table>
    <div class="table_container">
        <table>
          <tbody>
            <% @personalexpenses.each do |personalexpense| %>
              <tr>
                <td class="mob_cell"><%= personalexpense.due_date %></td>
                <td class="tab_cell"><%= personalexpense.project.ref %></td>
                <td class="lrg_cell"><%= personalexpense.hmrcexpcat.category %></td>
                <% if personalexpense.hmrcexpcat.category == "mileage" %>                
                    <td class="lrg_cell"><%= personalexpense.ref %></td>
                    <td class="mob_cell"></td>
                    <td class="lrg_cell"></td>
                    <td class="lrg_cell"><%= personalexpense.issue_date %></td>
                    <td class="lrg_cell"></td>
                    <td class="lrg_cell"></td>
                    <td class="mob_cell"><%= personalexpense.mideage.distance %></td>
                    <td class="mob_cell"><%= personalexpense.amount %></td>
                    <td class="lrg_cell"><%= personalexpense.status %></td>
                    <td width="20px" class="row_button"><%= link_to "", edit_mileage_path(personalexpense.id), class: 'line_edit_icon', title: "edit mileage expense record" %></td>
                    <td width="20px" class="row_button"><%= link_to "", personalexpense, method: :delete, class: 'line_delete_icon', title: "delete mileage expense record" %></td>
                <% else %>
                    <td class="lrg_cell"><%= personalexpense.ref %></td>
                    <td class="mob_cell"><%= personalexpense.supplier.name %></td>
                    <td class="lrg_cell"><%= personalexpense.supplier_ref %></td>
                    <td class="lrg_cell"><%= personalexpense.issue_date %></td>
                    <td class="lrg_cell"><%= personalexpense.receipt %></td>
                    <td class="mob_cell"></td>
                    <td class="lrg_cell"><%= personalexpense.vat %></td>
                    <td class="mob_cell"><%= personalexpense.amount %></td>
                    <td class="lrg_cell"><%= personalexpense.status %></td>
                    <td width="20px" class="row_button"><%= link_to "", edit_personalexpense_path(personalexpense), class: 'line_edit_icon', title: "edit expenses record" %></td>
                    <td width="20px" class="row_button"><%= link_to "", personalexpense, method: :delete, class: 'line_delete_icon', title: "delete expenses record" %></td>
                <% end %>              
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>
