<div class="row title_band">
    <div class="page_title">
        <h1>Invoice Build Up</h1>
    </div>  
    <div class="title_help" id="invoicecontent_index"></div>
    <%= link_to "invoice list", invoices_path, class: "title_button_orange" %>
    <%= link_to "edit references", edit_invoice_path(@invoice), class: "title_button" %>
</div>

<div class="row info_band">
    <div class="info_right">
             
    </div>

    <div class="info_left">
        <div><h3>Invoice Ref: <%=h @invoice.ref %></h3></div>
        <div><h3>Job Ref: <%=h @invoice.project.ref %></h3></div>
    </div>
</div>


<div class="row">

    <div class="col-1-1 column_1">
        <div class="border">
                                
            <%= render :partial => "flash_notice" %>                 
                
            <div class="row">
        
                <table class="table_header_with_info">
                <tr class='line_row'>
                <tr class='line_row'>
                    <td class='invoice_line_prefix'></td>
                    <td class='invoice_line_prefix'></td>
                    <td class='invoice_line_category'>Category</td>
                    <td class='invoice_line_cat_item'>Item</td>
                    <td class='invoice_line_item'>Item</td>
                    <td class='invoice_line_quantity'>Quantity</td>
                    <td class='invoice_line_unit'>Unit</td>
                    <td class='invoice_line_rate'>Price/Unit</td> 
                    <td class='invoice_line_price'>Price</td>
                    <td class='invoice_line_vat_rate'>VAT (%)</td> 
                    <td class='invoice_line_vat'>VAT</td>  
                    <td class='invoice_line_total'>Total</td>
                    <td class='line_menu'></td> 
                 </tr>
                 </tr>
                </table>
                <% @ingroups.each do |group| %>    
                    <%= render :partial => 'ingroup_row', locals: { group: group } %>  
                    <% group.inlines.each do |line| %>
                        <%= render :partial => 'inline_row', locals: { line: line } %>    
                    <% end %>        
                    <%= render :partial => 'ingroup_total', locals: { group: group } %>
                <% end %>
                <%= render :partial => 'invoice_total', locals: { ingroups: @ingroups } %>
       
            </div>
        </div>
    </div>

</div>