<div class="content">
    <div class="column_1">
        <div class="column_content">
            
            <% if @invoiceterm.errors.any? %>
            <div class="column_error">
            <p><%= pluralize(@invoiceterm.errors.count, "error") %> prohibited this project from being created</p>
                  <ul>
                  <% @invoiceterm.errors.full_messages.each do |invoiceterm| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
            </div>
            <% end %>
            
            <div class="column_sub_content">
                <div class="column_form">
                <%= form_for(@invoiceterm) do |f| %>
                    <%= f.hidden_field :company_id, :value => current_user.company_id %>
                    
                       <div class="column_form_item">
                            <label class="column_form_label" style="width:60px">Period Valid:*</label>                        
                            <div class="column_form_input"><%= f.text_field :period %></div>
                            <div class="column_help_tooltip" id="terms_period"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:60px">Terms:</label>                        
                            <div class="column_form_input"><%= f.text_area :terms %></div>
                            <div class="column_help_tooltip" id="terms_terms"></div>  
                        </div>
                </div>
           </div>     
                
           <div class="column_footer">
                <div class="column_line"></div>

                <div class="column_submit"><%= f.submit "save"%></div>
                <div class="column_cancel"><%= link_to "cancel", invoiceterms_path %></div>
                <% end %>
           </div>
            
        </div>
    </div>
    <div class="column_2 column_2_blank"></div> 
    <div class="column_3 column_3_blank"></div> 
</div>
