<div class="row">
    <div class="col-1-3 column_1">
        <div class="border">

<!-- error messages - associated with form start--> 
            <%= render :partial => "form_error", :locals => {:item => @invoiceterm} %>

<!-- form column start-->
            <div class="row">
                <%= form_for(@invoiceterm) do |f| %>
                    <%= f.hidden_field :company_id, :value => current_user.company_id %>
                    <fieldset>

                       <!-- form input[text] -->
                        <div class="form_tooltip" id="terms_ref"></div>
                        <label class="label_80">Reference:*</label>
                        <span>
                            <%= f.text_field :ref %>
                        </span></br>

                        <!-- form input[text] -->
                        <div class="form_tooltip" id="terms_period"></div>
                        <label class="label_80">Period (days):*</label>
                        <span>
                            <%= f.text_field :period, {placeholder: 'e.g. 90'} %>
                        </span></br>

                        <!-- form input[text] -->
                        <div class="form_tooltip" id="terms_terms"></div>
                        <label class="label_80">Terms:*</label>
                        <span>
                            <%= f.text_area :terms, {rows: 6, maxlength: 500, class: "maxlength"} %>
                            <p class="input_note">Maximum of 500 characters</p>
                        </span></br>
                        
                    </fieldset>
            </div>
<!-- column footer start--> 
            <div class="row">
                <div class="form_footer">
                    <%= f.submit "save"%>
                    <%= link_to "cancel", invoiceterms_path %>
                </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-1-3 column_2">
        <div class="border blank_column"></div>
    </div>
    <div class="col-1-3 column_3">
        <div class="border blank_column"></div>
    </div>
</div>