<div class="row title_band">
    <div class="page_title">
        <h1>Invoice Terms</h1>
    </div>
    <div class="title_help" id="invoiceterms_index"></div>       
    <div><%= link_to '+ term', new_invoiceterm_path, class: "title_button" %></div>
</div>

<div class="row">

    <div class="col-1-1 column_1">
        <div class="border">

            <%= render :partial => "flash_notice" %>

            <div class="row">

                <table>
                    <thead>
                        <tr>
                            <th class="terms_ref">Reference</th>
                            <th class="terms_period_large">Payment Period (days)</th>
                            <th class="terms_terms">Terms</th> 
                            <th class="row_button no_buttons_2">
                                <% if @invoiceterms %>
                                    <%= link_to "", print_invoiceterm_path(current_user.company_id), class: 'table_pdf_icon', title: "download pdf" %>                                
                                <% end %>                            
                            </th>
                        </tr>
                    </thead>
                </table>

                <table>
                    <tbody>
                        <% if @invoiceterms %>            
                            <% @invoiceterms.each do |term| %>
                                <tr>
                                    <td class="terms_ref"><%= term.ref %></td> 
                                    <td class="terms_period_large"><%= term.period %></td> 
                                    <td class="terms_terms"><%= term.terms %></td>
                                    <td class="row_button no_buttons_2">
                                        <% if invoiceterm_in_use(term) %>
                                            <%= row_delete_link(term, 'show') %>
                                            <%= row_edit_link(term, 'show') %>
                                        <% end %>                                        
                                    </td>
                                </tr>
                            <% end %>  
                        <% end %>
                    </tbody>
                </table>
   
            </div>
        </div>
    </div>

</div>


