<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @invoiceterm.company_id %>
</p>

<p>
  <strong>Terms:</strong>
  <%= @invoiceterm.terms %>
</p>

<%= link_to 'Edit', edit_invoiceterm_path(@invoiceterm) %> |
<%= link_to 'Back', invoiceterms_path %>
