<div class="row title_band">
    <div class="page_title">
        <h1>Miscellaneous Expense Item</h1>
    </div>
</div>

<div class="row">
    <div class="col-1-3 column_1">
        <div class="border">

            <%= render :partial => "flash_notice" %>
<!-- column start-->
            <div class="row">
                <article>
                    <div class="article-set">

                        <!-- show text line -->
                        <label class="label_80">Reference:</label>
                        <span><%= @miscexpense.ref if @miscexpense.ref %></span></br>
                                
                        <!-- show text line -->
                        <label class="label_80">Due Date:</label>
                        <span><%= @miscexpense.due_date.strftime("%d/%m/%y") %></span></br>

                        <!-- show text line -->
                        <label class="label_80">Issue date:</label>
                        <span><%= @miscexpense.date.strftime("%d/%m/%y") %></span></br>
                                
                        <!-- show text line -->
                        <label class="label_80">Job:</label>
                        <span><%= @miscexpense.project.name %></span></br>

                        <!-- show text line -->
                        <label class="label_80">Supplier:</label>
                        <span><%= @miscexpense.supplier.company_name %></span></br>

                        <!-- show text line -->
                        <label class="label_80">Supplier Ref:</label>
                        <span><%= @miscexpense.supplier_ref %></span></br>

                        <!-- show text line -->
                        <label class="label_80">Expense Cat:</label>
                        <span><%= @miscexpense.hmrcexpcat.category %></span></br>

                        <% if @miscexpense.receipt %>
                        <!-- show text line -->
                        <label class="label_80">Receipt:</label>
                        <span><%=link_to image_tag(@miscexpense.receipt_url(:thumb), class: 'fancybox' ) %></span></br>
                        <% end %>

                        <!-- show text line -->
                        <label class="label_80">Price:</label>
                        <span><%= pounds(@miscexpense.price) %></span></br>
                                
                        <!-- show text line -->
                        <label class="label_80">VAT:</label>
                        <span><%= pounds(@miscexpense.vat) %></span></br>

                        <!-- show text line -->
                        <label class="label_80">Total:</label>
                        <span><%= pounds(@miscexpense.total) %></span></br>

                        <!-- show text line -->
                        <label class="label_80">Status:</label>
                        <span><%= @miscexpense.state %></span></br>

                        <!-- show text line -->
                        <label class="label_80">Note:</label>
                        <span><%= @miscexpense.note %></span></br>

                    </div>
                </article>
            </div>
<!-- column footer start--> 
            <div class="row">
                <div class="form_footer">
                    <%= link_to "back", businesses_path %>
                </div>
            </div>
        </div>
    </div>

    <div class="col-1-3 column_2">
        <div class="border blank_column"></div>
    </div>
    <div class="col-1-3 column_3">
        <div class="border blank_column"></div>
    </div>
</div>