<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @miscexpend.company_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @miscexpend.user_id %>
</p>

<p>
  <strong>Exp type:</strong>
  <%= @miscexpend.exp_type %>
</p>

<p>
  <strong>Ref:</strong>
  <%= @miscexpend.ref %>
</p>

<p>
  <strong>Project:</strong>
  <%= @miscexpend.project_id %>
</p>

<p>
  <strong>Hmrcexpcat:</strong>
  <%= @miscexpend.hmrcexpcat_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @miscexpend.date %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @miscexpend.due_date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @miscexpend.price %>
</p>

<p>
  <strong>Vat:</strong>
  <%= @miscexpend.vat %>
</p>

<p>
  <strong>Total:</strong>
  <%= @miscexpend.total %>
</p>

<p>
  <strong>Item:</strong>
  <%= @miscexpend.item %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @miscexpend.provider_id %>
</p>

<p>
  <strong>Provider ref:</strong>
  <%= @miscexpend.provider_ref %>
</p>

<p>
  <strong>Receipt:</strong>
  <%= @miscexpend.receipt %>
</p>

<p>
  <strong>Note:</strong>
  <%= @miscexpend.note %>
</p>

<p>
  <strong>State:</strong>
  <%= @miscexpend.state %>
</p>

<%= link_to 'Edit', edit_miscexpend_path(@miscexpend) %> |
<%= link_to 'Back', miscexpends_path %>
