<div class="row title_band">
    <div class="page_title">
        <h1>Trial Balance: <%= @period.period %></h1>
    </div>
    <div class="title_help" id="summaries_index"></div>
</div>

<div class="row filter_band">
    <%= form_tag balances_path, method: :get do %>
        <div>
            <div>
                <label class="select">Period:</label>
                <%= select_tag 'period_id', options_from_collection_for_select(@periods, :id, :period, @period.id)%>
            </div>
            <%= submit_tag 'Select' %>
        </div> 
    <% end %> 
</div>

<div class="row">
    <div class="col-1-1 column_1">
        <div class="border">
            <div class="row">

                <table>
                    <thead>
                        <tr>
                            <th class="summary_item">Item</th>
                            <th class="summary_debit">Debit</th>
                            <th class="summary_credit">Credit</th>
                            <th class="row_button no_buttons_1"></th>
                        </tr>
                    </thead>
                </table>
                
				<table>
					<tbody>
                        <tr>
                            <td class="summary_item">Income</td> 
                            <td class="summary_debit"></td>
                            <td class="summary_credit"><%= pounds(@income_summary) %></td> 
                            <td class="row_button no_buttons_1">
                                <%= link_to '', payments_path, class: 'line_show_icon_show' , title: "record payment"  %>
                            </td>
                        </tr>

                        <tr>
                            <td class="summary_item">Expenditure</td> 
                            <td class="summary_debit"><%= pounds(@expend_summary) %></td>
                            <td class="summary_credit"></td> 
                            <td class="row_button no_buttons_1">
                                <%= link_to '', expends_path, class: 'line_show_icon_show' , title: "record payment"  %>
                            </td>
                        </tr>

                        <tr>
                            <td class="summary_item">Receivable</td> 
                            <td class="summary_debit"></td>
                            <td class="summary_credit"><%= pounds(@receivable_summary) %></td> 
                            <td class="row_button no_buttons_1">
                                <%= link_to '', invoices_path, class: 'line_show_icon_show' , title: "record payment"  %>
                            </td>
                        </tr>

                        <tr>
                            <td class="summary_item">Payable (Business)</td> 
                            <td class="summary_debit"><%= pounds(@payable_business_summary) %></td>
                            <td class="summary_credit"></td> 
                            <td class="row_button no_buttons_1">
                                <%= link_to '', businesses_path, class: 'line_show_icon_show' , title: "record payment"  %>
                            </td>
                        </tr>

                        <tr>
                            <td class="summary_item">Payable (Employee)</td> 
                            <td class="summary_debit"><%= pounds(@payable_employee_summary) %></td>
                            <td class="summary_credit"></td> 
                            <td class="row_button no_buttons_1">
                                <%= link_to '', employees_path, class: 'line_show_icon_show' , title: "record payment"  %>
                            </td>
                        </tr>

                    <% if @retained_amount %>
                        <tr>
                            <td class="summary_item">Retained</td> 
                            <td class="summary_debit"></td>
                            <td class="summary_credit"><%= pounds(@retained_amount) %></td> 
                            <td class="row_button no_buttons_1">
                            </td>
                        </tr>
                    <% end %>

                    <% if @company_accounts %>
                        <tr>
                            <td class="summary_item">Assets (Cash)</td> 
                            <td class="summary_debit"></td>
                            <td class="summary_credit"><%= pounds(@assets_cash) %></td> 
                            <td class="row_button no_buttons_1">
                              <%= link_to '', summaries_path(:period_id => @period.id), class: 'line_show_icon_show' , title: "show transactions"  %>
                            </td>
                        </tr>

                     <% end %>

					</tbody>
				</table>

				<table class='summary_total_table'>
				    <tr class='line_row'>
				        <td class='summary_item'>Total:</td>
				        <td class='summary_debit'><%= pounds(@debit_total) %></td>
				        <td class='summary_credit'><%= pounds(@credit_total) %></td>
				     </tr>
				</table>

            </div>
        </div>
    </div>


</div>