<h1>Listing ingroups</h1>

<table>
  <thead>
    <tr>
      <th>Invoice</th>
      <th>Ref</th>
      <th>Text</th>
      <th>Price</th>
      <th>Vat due</th>
      <th>Total</th>
      <th>Group order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingroups.each do |ingroup| %>
      <tr>
        <td><%= ingroup.invoice_id %></td>
        <td><%= ingroup.ref %></td>
        <td><%= ingroup.text %></td>
        <td><%= ingroup.price %></td>
        <td><%= ingroup.vat_due %></td>
        <td><%= ingroup.total %></td>
        <td><%= ingroup.group_order %></td>
        <td><%= link_to 'Show', ingroup %></td>
        <td><%= link_to 'Edit', edit_ingroup_path(ingroup) %></td>
        <td><%= link_to 'Destroy', ingroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ingroup', new_ingroup_path %>
