<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice:</strong>
  <%= @ingroup.invoice_id %>
</p>

<p>
  <strong>Ref:</strong>
  <%= @ingroup.ref %>
</p>

<p>
  <strong>Text:</strong>
  <%= @ingroup.text %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ingroup.price %>
</p>

<p>
  <strong>Vat due:</strong>
  <%= @ingroup.vat_due %>
</p>

<p>
  <strong>Total:</strong>
  <%= @ingroup.total %>
</p>

<p>
  <strong>Group order:</strong>
  <%= @ingroup.group_order %>
</p>

<%= link_to 'Edit', edit_ingroup_path(@ingroup) %> |
<%= link_to 'Back', ingroups_path %>
